In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank
B) Name
C) Artist
D) Upload date
E) Views

In [4]:
data=[]

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [13]:
table=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]')
for tr in table:
    name=driver.find_elements(By.XPATH,"//tr")
    row=[name.text for name in tr.find_elements(By.XPATH,".//td")]
    data.append(row)

In [15]:
data

[['"Baby Shark Dance"[6]',
  "Pinkfong Baby Shark - Kids' Songs & Stories",
  '14.09',
  'June 17, 2016',
  '[A]',
  '"Despacito"[9]',
  'Luis Fonsi',
  '8.38',
  'January 12, 2017',
  '[B]',
  '"Johny Johny Yes Papa"[17]',
  "LooLoo Kids - Nursery Rhymes and Children's Songs",
  '6.87',
  'October 8, 2016',
  '',
  '"Bath Song"[18]',
  'Cocomelon - Nursery Rhymes',
  '6.62',
  'May 2, 2018',
  '',
  '"Shape of You"[19]',
  'Ed Sheeran',
  '6.20',
  'January 30, 2017',
  '[C]',
  '"See You Again"[22]',
  'Wiz Khalifa',
  '6.17',
  'April 6, 2015',
  '[D]',
  '"Wheels on the Bus"[27]',
  'Cocomelon - Nursery Rhymes',
  '5.88',
  'May 24, 2018',
  '',
  '"Phonics Song with Two Words"[28]',
  'ChuChu TV Nursery Rhymes & Kids Songs',
  '5.70',
  'March 6, 2014',
  '',
  '"Uptown Funk"[29]',
  'Mark Ronson',
  '5.15',
  'November 19, 2014',
  '',
  '"Learning Colors – Colorful Eggs on a Farm"[30]',
  'Miroshka TV',
  '5.07',
  'February 27, 2018',
  '',
  '"Gangnam Style"[31]',
  'Psy',
  '5.05',
  'July 15, 2012',
  '[E]',
  '"Masha and the Bear – Recipe for Disaster"[36]',
  'Get Movies',
  '4.58',
  'January 31, 2012',
  '',
  '"Dame Tu Cosita"[37]',
  'Ultra Records',
  '4.55',
  'April 5, 2018',
  '',
  '"Axel F"[38]',
  'Crazy Frog',
  '4.34',
  'June 16, 2009',
  '',
  '"Sugar"[39]',
  'Maroon 5',
  '4.00',
  'January 14, 2015',
  '',
  '"Counting Stars"[40]',
  'OneRepublic',
  '3.97',
  'May 31, 2013',
  '',
  '"Baa Baa Black Sheep"[41]',
  'Cocomelon - Nursery Rhymes',
  '3.96',
  'June 25, 2018',
  '',
  '"Roar"[42]',
  'Katy Perry',
  '3.96',
  'September 5, 2013',
  '',
  '"Lakdi Ki Kathi"[43]',
  'Jingle Toons',
  '3.91',
  'June 14, 2018',
  '',
  '"Waka Waka (This Time for Africa)"[44]',
  'Shakira',
  '3.85',
  'June 4, 2010',
  '',
  '"Sorry"[45]',
  'Justin Bieber',
  '3.77',
  'October 22, 2015',
  '',
  '"Thinking Out Loud"[46]',
  'Ed Sheeran',
  '3.73',
  'October 7, 2014',
  '',
  '"Humpty the train on a fruits ride"[47]',
  'Kiddiestv Hindi - Nursery Rhymes & Kids Songs',
  '3.73',
  'January 26, 2018',
  '',
  '"Shree Hanuman Chalisa"[48]',
  'T-Series Bhakti Sagar',
  '3.69',
  'May 10, 2011',
  '',
  '"Dark Horse"[49]',
  'Katy Perry',
  '3.67',
  'February 20, 2014',
  '',
  '"Perfect"[50]',
  'Ed Sheeran',
  '3.67',
  'November 9, 2017',
  '',
  '"Let Her Go"[51]',
  'Passenger',
  '3.61',
  'July 25, 2012',
  '',
  '"Faded"[52]',
  'Alan Walker',
  '3.59',
  'December 3, 2015',
  '',
  '"Girls Like You"[53]',
  'Maroon 5',
  '3.56',
  'May 31, 2018',
  '',
  '"Lean On"[54]',
  'Major Lazer Official',
  '3.55',
  'March 22, 2015',
  '']]

In [11]:
url_1="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"

In [12]:
driver=webdriver.Chrome()

In [13]:
videoname=[]

In [14]:
driver.get(url_1)

In [15]:
name=driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]//tr//td[1]')
for i in name:
    try:
        new=i.text
        
        videoname.append(new)
        
    except NoSuchElementException:
        videoname.append("-")

In [16]:
videoname

['"Baby Shark Dance"[6]',
 '"Despacito"[9]',
 '"Johny Johny Yes Papa"[17]',
 '"Bath Song"[18]',
 '"Shape of You"[19]',
 '"See You Again"[22]',
 '"Wheels on the Bus"[27]',
 '"Phonics Song with Two Words"[28]',
 '"Uptown Funk"[29]',
 '"Learning Colors – Colorful Eggs on a Farm"[30]',
 '"Gangnam Style"[31]',
 '"Masha and the Bear – Recipe for Disaster"[36]',
 '"Dame Tu Cosita"[37]',
 '"Axel F"[38]',
 '"Sugar"[39]',
 '"Counting Stars"[40]',
 '"Baa Baa Black Sheep"[41]',
 '"Roar"[42]',
 '"Lakdi Ki Kathi"[43]',
 '"Waka Waka (This Time for Africa)"[44]',
 '"Sorry"[45]',
 '"Thinking Out Loud"[46]',
 '"Humpty the train on a fruits ride"[47]',
 '"Shree Hanuman Chalisa"[48]',
 '"Dark Horse"[49]',
 '"Perfect"[50]',
 '"Let Her Go"[51]',
 '"Faded"[52]',
 '"Girls Like You"[53]',
 '"Lean On"[54]']

In [17]:
artist=[]

In [18]:
art=driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]//tr//td[2]')
for i in art:
    try:
        newart=i.text
        artist.append(newart)
        
    except NoSuchElementException:
        artist.append("-")

In [19]:
artist

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 "LooLoo Kids - Nursery Rhymes and Children's Songs",
 'Cocomelon - Nursery Rhymes',
 'Ed Sheeran',
 'Wiz Khalifa',
 'Cocomelon - Nursery Rhymes',
 'ChuChu TV Nursery Rhymes & Kids Songs',
 'Mark Ronson',
 'Miroshka TV',
 'Psy',
 'Get Movies',
 'Ultra Records',
 'Crazy Frog',
 'Maroon 5',
 'OneRepublic',
 'Cocomelon - Nursery Rhymes',
 'Katy Perry',
 'Jingle Toons',
 'Shakira',
 'Justin Bieber',
 'Ed Sheeran',
 'Kiddiestv Hindi - Nursery Rhymes & Kids Songs',
 'T-Series Bhakti Sagar',
 'Katy Perry',
 'Ed Sheeran',
 'Passenger',
 'Alan Walker',
 'Maroon 5',
 'Major Lazer Official']

In [20]:
views=[]

In [21]:
view=driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]//tr//td[3]')
for i in view:
    try:
        newview=i.text
        views.append(newview)
        
    except NOSuchElementException:
        views.append("-")

In [22]:
views

['14.09',
 '8.38',
 '6.87',
 '6.62',
 '6.20',
 '6.17',
 '5.88',
 '5.70',
 '5.15',
 '5.07',
 '5.05',
 '4.58',
 '4.55',
 '4.34',
 '4.00',
 '3.97',
 '3.96',
 '3.96',
 '3.91',
 '3.85',
 '3.77',
 '3.73',
 '3.73',
 '3.69',
 '3.67',
 '3.67',
 '3.61',
 '3.59',
 '3.56',
 '3.55']

In [23]:
upload_date=[]

In [24]:
upload=driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]//tr//td[1]')
for i in upload:
    try:
        up=i.text
        upload_date.append(up)
        
    except NoSuchElementException:
        upload_date.append("-")

In [25]:
upload_date

['"Baby Shark Dance"[6]',
 '"Despacito"[9]',
 '"Johny Johny Yes Papa"[17]',
 '"Bath Song"[18]',
 '"Shape of You"[19]',
 '"See You Again"[22]',
 '"Wheels on the Bus"[27]',
 '"Phonics Song with Two Words"[28]',
 '"Uptown Funk"[29]',
 '"Learning Colors – Colorful Eggs on a Farm"[30]',
 '"Gangnam Style"[31]',
 '"Masha and the Bear – Recipe for Disaster"[36]',
 '"Dame Tu Cosita"[37]',
 '"Axel F"[38]',
 '"Sugar"[39]',
 '"Counting Stars"[40]',
 '"Baa Baa Black Sheep"[41]',
 '"Roar"[42]',
 '"Lakdi Ki Kathi"[43]',
 '"Waka Waka (This Time for Africa)"[44]',
 '"Sorry"[45]',
 '"Thinking Out Loud"[46]',
 '"Humpty the train on a fruits ride"[47]',
 '"Shree Hanuman Chalisa"[48]',
 '"Dark Horse"[49]',
 '"Perfect"[50]',
 '"Let Her Go"[51]',
 '"Faded"[52]',
 '"Girls Like You"[53]',
 '"Lean On"[54]']

In [28]:
df=pd.DataFrame({"Video Name":videoname,"Artist name":artist,"Upload Date":upload_date,"Views(billions)":views})

In [30]:
df

,Video Name,Artist name,Upload Date,Views(billions)
0,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"""Baby Shark Dance""[6]",14.09
1,"""Despacito""[9]",Luis Fonsi,"""Despacito""[9]",8.38
2,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"""Johny Johny Yes Papa""[17]",6.87
3,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,"""Bath Song""[18]",6.62
4,"""Shape of You""[19]",Ed Sheeran,"""Shape of You""[19]",6.20
5,"""See You Again""[22]",Wiz Khalifa,"""See You Again""[22]",6.17
6,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"""Wheels on the Bus""[27]",5.88
7,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"""Phonics Song with Two Words""[28]",5.70
8,"""Uptown Funk""[29]",Mark Ronson,"""Uptown Funk""[29]",5.15
9,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,"""Learning Colors – Colorful Eggs on a Farm""[30]",5.07
10,"""Gangnam Style""[31]",Psy,"""Gangnam Style""[31]",5.05
11,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"""Masha and the Bear – Recipe for Disaster""[36]",4.58
12,"""Dame Tu Cosita""[37]",Ultra Records,"""Dame Tu Cosita""[37]",4.55
13,"""Axel F""[38]",Crazy Frog,"""Axel F""[38]",4.34
14,"""Sugar""[39]",Maroon 5,"""Sugar""[39]",4.00
15,"""Counting Stars""[40]",OneRepublic,"""Counting Stars""[40]",3.97
16,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"""Baa Baa Black Sheep""[41]",3.96
17,"""Roar""[42]",Katy Perry,"""Roar""[42]",3.96
18,"""Lakdi Ki Kathi""[43]",Jingle Toons,"""Lakdi Ki Kathi""[43]",3.91
19,"""Waka Waka (This Time for Africa)""[44]",Shakira,"""Waka Waka (This Time for Africa)""[44]",3.85
20,"""Sorry""[45]",Justin Bieber,"""Sorry""[45]",3.77
21,"""Thinking Out Loud""[46]",Ed Sheeran,"""Thinking Out Loud""[46]",3.73
22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"""Humpty the train on a fruits ride""[47]",3.73
23,"""Shree Hanuman Chalisa""[48]",T-Series Bhakti Sagar,"""Shree Hanuman Chalisa""[48]",3.69
24,"""Dark Horse""[49]",Katy Perry,"""Dark Horse""[49]",3.67
25,"""Perfect""[50]",Ed Sheeran,"""Perfect""[50]",3.67
26,"""Let Her Go""[51]",Passenger,"""Let Her Go""[51]",3.61
27,"""Faded""[52]",Alan Walker,"""Faded""[52]",3.59
28,"""Girls Like You""[53]",Maroon 5,"""Girls Like You""[53]",3.56
29,"""Lean On""[54]",Major Lazer Official,"""Lean On""[54]",3.55

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [4]:
driver=webdriver.Chrome()

In [5]:
driver.get('https://www.bcci.tv/')

In [6]:
click=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
click.click()

In [7]:
againclick=driver.find_element(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[1]/div[2]/div/div[1]/div/div[1]')
againclick.click()

In [8]:
india=driver.find_element(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[1]/div[2]/div/div[1]/div/div[2]/div[8]')
india.click()

In [16]:
Series1=[]

In [19]:
series=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series:
    try:
        new=i.text
        Series1.append(new)
        
    except NoSuchElementException:
        Series1.append(new)

In [20]:
Series1

['ENGLAND TOUR OF INDIA 2023-24',
 'ENGLAND TOUR OF INDIA 2023-24',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024']

In [21]:
Place=[]

In [22]:
place=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for i in place:
    try:
        plc=i.text
        Place.append(plc)
        
    except NoSuchElementException:
        Place.apppend(plc)

In [23]:
Place

['JSCA International Stadium Complex, Ranchi',
 'Himachal Pradesh Cricket Association Stadium, Dharamsala',
 'Harare Sports Club, Harare',
 'Harare Sports Club, Harare',
 'Harare Sports Club, Harare',
 'Harare Sports Club, Harare',
 'Harare Sports Club, Harare']

In [24]:
Date=[]

In [25]:
date=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date:
    try:
        dt=i.text
        Date.append(dt)
        
    except NoSuchElementException:
        Date.apppend(dt)

In [26]:
Date

['23 FEBRUARY, 2024',
 '7 MARCH, 2024',
 '6 JULY, 2024',
 '7 JULY, 2024',
 '10 JULY, 2024',
 '13 JULY, 2024',
 '14 JULY, 2024']

In [27]:
Time=[]

In [28]:
time=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time:
    try:
        tm=i.text
        Time.append(tm)
    except NoSuchElementException:
        Time.apppend(tm)

In [29]:
Time

['9:30 AM IST',
 '9:30 AM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST']

In [30]:
df1=pd.DataFrame({"Series":Series1,"Place":Place,"Date":Date,"TIme":Time})

In [31]:
df1

,Series,Place,Date,TIme
0,ENGLAND TOUR OF INDIA 2023-24,"JSCA International Stadium Complex, Ranchi","23 FEBRUARY, 2024",9:30 AM IST
1,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium, ...","7 MARCH, 2024",9:30 AM IST
2,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
3,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024",8:00 PM IST
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","13 JULY, 2024",8:00 PM IST
6,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","14 JULY, 2024",8:00 PM IST

3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.get('https://www.statisticstimes.com/')

In [11]:
click=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
click.click()

In [12]:
india=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india.click()

In [14]:
gdp=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp.click()

In [15]:
Rank=[]

In [16]:
rank=driver.find_elements(By.XPATH,'//td[@class="data1"]')
for i in rank[0:33]:
    try:
        new=i.text
        Rank.append(new)
        
    except NoSuchElementException:
        Rank.append(new)

In [17]:
Rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [18]:
 State=[]

In [20]:
state=driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in state[0:33]:
    try:
        st=i.text
        State.append(st)
        
    except NoSuchElementException:
        State.append(st)

In [21]:
State

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Karnataka',
 'Gujarat',
 'West Bengal',
 'Rajasthan',
 'Madhya Pradesh',
 'Andhra Pradesh',
 'Telangana',
 'Kerala',
 'Delhi',
 'Haryana',
 'Odisha',
 'Bihar',
 'Punjab',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir-UT',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Arunachal Pradesh',
 'Nagaland',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [40]:
GSDP23=[]

In [41]:
gsdp=driver.find_elements(By.XPATH,'//*[@id="table_id"]//td[3]')
for i in gsdp[0:33]:
    try:
        gs=i.text
        GSDP23.append(gs)
        
    except NoSuchElementException:
        GSDP23.append("-")

In [42]:
GSDP23

['-',
 '2,364,514',
 '2,257,575',
 '2,241,368',
 '-',
 '1,554,992',
 '1,413,620',
 '1,322,821',
 '1,317,728',
 '1,313,391',
 '-',
 '1,043,759',
 '994,154',
 '774,869',
 '751,396',
 '673,107',
 '493,167',
 '457,608',
 '393,722',
 '302,621',
 '227,927',
 '195,405',
 '-',
 '72,636',
 '-',
 '-',
 '42,697',
 '42,756',
 '-',
 '-',
 '-',
 '-',
 '-']

In [31]:
GSDP1=[]

In [32]:
gsdp19=driver.find_elements(By.XPATH,'//*[@id="table_id"]//td[4]')
for i in gsdp19[0:33]:
    try:
        gs9=i.text
        GSDP1.append(gs9)
        
    except NoSuchElementException:
        GSDP1.append(gs9)

In [33]:
GSDP1

['3,108,022',
 '2,071,286',
 '1,974,532',
 '1,962,725',
 '1,937,066',
 '1,363,926',
 '1,218,193',
 '1,136,137',
 '1,133,837',
 '1,128,907',
 '932,470',
 '904,642',
 '870,665',
 '670,881',
 '650,302',
 '614,227',
 '412,612',
 '406,416',
 '358,863',
 '272,159',
 '199,917',
 '176,269',
 '82,604',
 '62,550',
 '45,635',
 '44,238',
 '38,785',
 '37,557',
 '36,594',
 '35,124',
 '31,913',
 '27,824',
 '10,371']

In [29]:
Share=[]

In [34]:
share=driver.find_elements(By.XPATH,'//*[@id="table_id"]//td[5]')
for i in share[0:33]:
    try:
        shr=i.text
        Share.append(shr)
        
    except NoSuchElementException:
        Share.append(shr)

In [35]:
Share

['13.24%',
 '8.82%',
 '8.41%',
 '8.36%',
 '8.25%',
 '5.81%',
 '5.19%',
 '4.84%',
 '4.83%',
 '4.81%',
 '3.97%',
 '3.85%',
 '3.71%',
 '2.86%',
 '2.77%',
 '2.62%',
 '1.76%',
 '1.73%',
 '1.53%',
 '1.16%',
 '0.85%',
 '0.75%',
 '0.35%',
 '0.27%',
 '0.19%',
 '0.19%',
 '0.17%',
 '0.16%',
 '0.16%',
 '0.15%',
 '0.14%',
 '0.12%',
 '0.04%']

In [36]:
GDP=[]

In [37]:
gdp=driver.find_elements(By.XPATH,'//*[@id="table_id"]//td[6]')
for i in gdp[0:33]:
    try:
        gd=i.text
        GDP.append(gd)
        
    except NoSuchElementException:
        GDP.append("-")

In [39]:
GDP

['417.163',
 '278.011',
 '265.024',
 '263.440',
 '259.996',
 '183.068',
 '163.507',
 '152.494',
 '152.185',
 '151.523',
 '125.157',
 '121.422',
 '116.862',
 '90.047',
 '87.284',
 '82.442',
 '55.381',
 '54.550',
 '48.167',
 '36.530',
 '26.833',
 '23.659',
 '11.087',
 '8.396',
 '6.125',
 '5.938',
 '5.206',
 '5.041',
 '4.912',
 '4.714',
 '4.283',
 '3.735',
 '1.392']

In [44]:
df2=pd.DataFrame({"Rank":Rank,"State":State,"GSDP(18-19)- at current prices":GSDP23,"GSDP(19-20)- at current prices":GSDP1,"Share(18-19)":Share,"GDP($ billion)":GDP})

In [46]:
df2

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"3,108,022",13.24%,417.163
1,2,Tamil Nadu,"2,364,514","2,071,286",8.82%,278.011
2,3,Uttar Pradesh,"2,257,575","1,974,532",8.41%,265.024
3,4,Karnataka,"2,241,368","1,962,725",8.36%,263.440
4,5,Gujarat,-,"1,937,066",8.25%,259.996
5,6,West Bengal,"1,554,992","1,363,926",5.81%,183.068
6,7,Rajasthan,"1,413,620","1,218,193",5.19%,163.507
7,8,Madhya Pradesh,"1,322,821","1,136,137",4.84%,152.494
8,9,Andhra Pradesh,"1,317,728","1,133,837",4.83%,152.185
9,10,Telangana,"1,313,391","1,128,907",4.81%,151.523
10,11,Kerala,-,"932,470",3.97%,125.157
11,12,Delhi,"1,043,759","904,642",3.85%,121.422
12,13,Haryana,"994,154","870,665",3.71%,116.862
13,14,Odisha,"774,869","670,881",2.86%,90.047
14,15,Bihar,"751,396","650,302",2.77%,87.284
15,16,Punjab,"673,107","614,227",2.62%,82.442
16,17,Assam,"493,167","412,612",1.76%,55.381
17,18,Chhattisgarh,"457,608","406,416",1.73%,54.550
18,19,Jharkhand,"393,722","358,863",1.53%,48.167
19,20,Uttarakhand,"302,621","272,159",1.16%,36.530
20,21,Jammu & Kashmir-UT,"227,927","199,917",0.85%,26.833
21,22,Himachal Pradesh,"195,405","176,269",0.75%,23.659
22,23,Goa,-,"82,604",0.35%,11.087
23,24,Tripura,"72,636","62,550",0.27%,8.396
24,25,Chandigarh,-,"45,635",0.19%,6.125
25,26,Puducherry,-,"44,238",0.19%,5.938
26,27,Meghalaya,"42,697","38,785",0.17%,5.206
27,28,Sikkim,"42,756","37,557",0.16%,5.041
28,29,Manipur,-,"36,594",0.16%,4.912
29,30,Arunachal Pradesh,-,"35,124",0.15%,4.714
30,31,Nagaland,-,"31,913",0.14%,4.283
31,32,Mizoram,-,"27,824",0.12%,3.735
32,33,Andaman & Nicobar Islands,-,"10,371",0.04%,1.392

4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.get('https://github.com/')

In [6]:
opensource=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
opensource.click()

In [7]:
trend=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trend.click()

In [8]:
Repository_title=[]

In [9]:
title=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
for i in title:
    try:
        new=i.text
        Repository_title.append(new)
        
    except NoSuchElementException:
        Repository_title.append("-")

In [47]:
Repository_title

['lobehub / lobe-chat',
 'chatchat-space / Langchain-Chatchat',
 'charlax / professional-programming',
 'hiddify / hiddify-next',
 'levihsu / OOTDiffusion',
 'Speykious / cve-rs',
 'codecrafters-io / build-your-own-x',
 'systemdesign42 / system-design',
 'I-S00N / I-S00N',
 'weijunext / indie-hacker-tools',
 'qarmin / czkawka',
 'trimstray / the-book-of-secret-knowledge',
 'mttaggart / I-S00N',
 'gunnarmorling / 1brc',
 'vvbbnn00 / WARP-Clash-API',
 'keras-team / keras',
 'xtekky / gpt4free',
 'charlax / engineering-management',
 'facebookresearch / DiT',
 'camunda / camunda-bpm-platform',
 'facebook / react-native',
 'krahets / hello-algo',
 'ggerganov / llama.cpp',
 'dunwu / linux-tutorial',
 'maybe-finance / maybe']

In [48]:
len(Repository_title)

25

In [12]:
discription=[]

In [13]:
disc=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in disc:
    try:
        di=i.text
        discription.append(di)
        
    except NoSuchElementException:
        discription.append("-")

In [46]:
discription

['🤖 Lobe Chat - an open-source, high-performance AI Chat framework. Support one-click free deployment of your private ChatGPT/Gemini/Ollama application.',
 'Langchain-Chatchat（原Langchain-ChatGLM）基于 Langchain 与 ChatGLM 等语言模型的本地知识库问答 | Langchain-Chatchat (formerly langchain-ChatGLM), local knowledge based LLM (like ChatGLM) QA app with langchain',
 'A collection of learning resources for curious software engineers',
 'Multi-platform auto-proxy client, supporting Sing-box, X-ray, TUIC, Hysteria, Reality, Trojan, SSH etc. It’s an open-source, secure and ad-free.',
 'Official implementation of OOTDiffusion',
 'Blazingly 🔥 fast 🚀 memory vulnerabilities, written in 100% safe Rust. 🦀',
 'Master programming by recreating your favorite technologies from scratch.',
 'Building the best system design resource in the internet',
 '收录独立开发者出海技术栈和工具',
 'Multi functional app to find duplicates, empty folders, similar images etc.',
 'A collection of inspiring lists, manuals, cheatsheets, blogs, hacks, one-liners, cli/web tools and more.',
 'Anxun Shanghai (I-SOON) Data Dump Translations (PII Redacted)',
 '1️⃣🐝🏎️ The One Billion Row Challenge -- A fun exploration of how quickly 1B rows from a text file can be aggregated with Java',
 '该项目可以让你通过订阅的方式使用Cloudflare WARP+，自动获取流量。This project enables you to use Cloudflare WARP+ through subscription, automatically acquiring traffic.',
 'Deep Learning for humans',
 'The official gpt4free repository | various collection of powerful language models',
 'A collection of inspiring resources related to engineering management and tech leadership',
 'Official PyTorch Implementation of "Scalable Diffusion Models with Transformers"',
 'Flexible framework for workflow and decision automation with BPMN and DMN. Integration with Quarkus, Spring, Spring Boot, CDI.',
 'A framework for building native applications using React',
 '《Hello 算法》：动画图解、一键运行的数据结构与算法教程，支持 Python, C++, Java, C#, Go, Swift, JS, TS, Dart, Rust, C, Zig 等语言。English edition ongoing',
 "Port of Facebook's LLaMA model in C/C++",
 '🐧 Linux教程，主要内容：Linux 命令、Linux 系统运维、软件运维、精选常用Shell脚本',
 'The OS for your personal finances']

In [15]:
len(discription)

24

In [16]:
Contributors_count=[]

In [17]:
cont=driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]//a[1]')
for i in cont:
    try:
        con=i.text
        Contributors_count.append(con)
        
        
    except NoSuchElementException:
        Contributors_count.append("-")

In [18]:
Contributors_count

['18,639',
 '',
 '22,896',
 '',
 '40,817',
 '',
 '5,314',
 '',
 '1,132',
 '',
 '1,928',
 '',
 '246,556',
 '',
 '1,143',
 '',
 '3,806',
 '',
 '929',
 '',
 '14,431',
 '',
 '123,451',
 '',
 '49',
 '',
 '3,372',
 '',
 '1,038',
 '',
 '60,337',
 '',
 '53,509',
 '',
 '6,670',
 '',
 '3,414',
 '',
 '3,776',
 '',
 '114,529',
 '',
 '63,498',
 '',
 '51,221',
 '',
 '4,042',
 '',
 '24,101',
 '']

In [25]:
len(Contributors_count)

50

In [36]:
contributors=[]

In [37]:
for i in range(0,len(Contributors_count),2):
    contributors.append(Contributors_count[i])

In [39]:
contributors

['18,639',
 '22,896',
 '40,817',
 '5,314',
 '1,132',
 '1,928',
 '246,556',
 '1,143',
 '3,806',
 '929',
 '14,431',
 '123,451',
 '49',
 '3,372',
 '1,038',
 '60,337',
 '53,509',
 '6,670',
 '3,414',
 '3,776',
 '114,529',
 '63,498',
 '51,221',
 '4,042',
 '24,101']

In [41]:
len(contributors)

25

In [42]:
langauge=[]

In [43]:
lang=driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/span[1]')
for i in lang:
    try:
        lan=i.text
        langauge.append(lan)
        
    except NoSuchElementException:
        langauge.append(lan)

In [44]:
len(langauge)

25

In [45]:
langauge

['TypeScript',
 'Python',
 'Python',
 'Dart',
 'Python',
 'Rust',
 'Built by',
 'Built by',
 'Built by',
 'Built by',
 'Rust',
 'Built by',
 'Built by',
 'Java',
 'Python',
 'Python',
 'Python',
 'Shell',
 'Python',
 'Java',
 'C++',
 'Java',
 'C++',
 'Shell',
 'Ruby']

In [49]:
df3=pd.DataFrame({"Repository title":Repository_title[:24],"Repository description":discription,"Contributors count":contributors[0:24],"Language used":langauge[:24]})

In [50]:
df3

,Repository title,Repository description,Contributors count,Language used
0,lobehub / lobe-chat,"🤖 Lobe Chat - an open-source, high-performance...","18,639",TypeScript
1,chatchat-space / Langchain-Chatchat,Langchain-Chatchat（原Langchain-ChatGLM）基于 Langc...,"22,896",Python
2,charlax / professional-programming,A collection of learning resources for curious...,"40,817",Python
3,hiddify / hiddify-next,"Multi-platform auto-proxy client, supporting S...","5,314",Dart
4,levihsu / OOTDiffusion,Official implementation of OOTDiffusion,"1,132",Python
5,Speykious / cve-rs,"Blazingly 🔥 fast 🚀 memory vulnerabilities, wri...","1,928",Rust
6,codecrafters-io / build-your-own-x,Master programming by recreating your favorite...,"246,556",Built by
7,systemdesign42 / system-design,Building the best system design resource in th...,"1,143",Built by
8,I-S00N / I-S00N,收录独立开发者出海技术栈和工具,"3,806",Built by
9,weijunext / indie-hacker-tools,"Multi functional app to find duplicates, empty...",929,Built by
10,qarmin / czkawka,"A collection of inspiring lists, manuals, chea...","14,431",Rust
11,trimstray / the-book-of-secret-knowledge,Anxun Shanghai (I-SOON) Data Dump Translations...,"123,451",Built by
12,mttaggart / I-S00N,1️⃣🐝🏎️ The One Billion Row Challenge -- A fun ...,49,Built by
13,gunnarmorling / 1brc,该项目可以让你通过订阅的方式使用Cloudflare WARP+，自动获取流量。This p...,"3,372",Java
14,vvbbnn00 / WARP-Clash-API,Deep Learning for humans,"1,038",Python
15,keras-team / keras,The official gpt4free repository | various col...,"60,337",Python
16,xtekky / gpt4free,A collection of inspiring resources related to...,"53,509",Python
17,charlax / engineering-management,"Official PyTorch Implementation of ""Scalable D...","6,670",Shell
18,facebookresearch / DiT,Flexible framework for workflow and decision a...,"3,414",Python
19,camunda / camunda-bpm-platform,A framework for building native applications u...,"3,776",Java
20,facebook / react-native,"《Hello 算法》：动画图解、一键运行的数据结构与算法教程，支持 Python, C++,...","114,529",C++
21,krahets / hello-algo,Port of Facebook's LLaMA model in C/C++,"63,498",Java
22,ggerganov / llama.cpp,🐧 Linux教程，主要内容：Linux 命令、Linux 系统运维、软件运维、精选常用Sh...,"51,221",C++
23,dunwu / linux-tutorial,The OS for your personal finances,"4,042",Shell

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
 Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [60]:
driver=webdriver.Chrome()

In [61]:
driver.get('https:/www.billboard.com/')

In [64]:
chart=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
chart.click()

In [66]:
hot100=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]')
hot100.click()

In [67]:
songname=[]

In [68]:
name=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
for i in name:
    try:
        nam=i.text
        songname.append(nam)
        
    except NoSuchElementException:
        songname.append("-")

In [70]:
len(name)

100

In [71]:
songname

['Lovin On Me',
 "Texas Hold 'Em",
 'Carnival',
 'Beautiful Things',
 'Lose Control',
 'Cruel Summer',
 'Snooze',
 'I Remember Everything',
 'Greedy',
 'Stick Season',
 'Fast Car',
 'Agora Hills',
 'Water',
 'Last Night',
 'Redrum',
 "Thinkin' Bout Me",
 'Flowers',
 "Is It Over Now? (Taylor's Version) [From The Vault]",
 'Paint The Town Red',
 'Yeah!',
 'Never Lose Me',
 'La Diabla',
 'Fuk Sumn',
 'Pretty Little Poison',
 'Houdini',
 'Back To Me',
 'What Was I Made For?',
 'Forever',
 'Where The Wild Things Are',
 'Talking',
 'Yes, And?',
 'Made For Me',
 'Burn',
 'Vultures',
 'The Painter',
 'Good Good',
 'Selfish',
 '16 Carriages',
 'Stars',
 'Everybody',
 'Rich Baby Daddy',
 'Feather',
 'Vampire',
 'On My Mama',
 'Wild Ones',
 'Dance The Night',
 'Save Me',
 'Hiss',
 'Exes',
 'Need A Favor',
 'Truck Bed',
 'Do It',
 'Paid',
 'Surround Sound',
 'Keys To My Life',
 'World On Fire',
 'First Person Shooter',
 'La Victima',
 'Get In With Me',
 'Burn It Down',
 'Standing Next To You',
 'Think U The Shit (Fart)',
 'Praise Jah In The Moonlight',
 'Paperwork',
 'Beg Forgiveness',
 'Man Made A Bar',
 'Hoodrat',
 'One Call',
 'Igual Que Un Angel',
 'Spin You Around (1/24)',
 'FTCU',
 'One Of The Girls',
 'Murder On The Dancefloor',
 'You Broke My Heart',
 'Northern Attitude',
 'FE!N',
 '23',
 'Bandit',
 'Problematic',
 'Nee-nah',
 'Act II: Date @ 8',
 'I Can Feel It',
 "Mamaw's House",
 'Soak City',
 'Harley Quinn',
 "You're Gonna Go Far",
 'Bellakeo',
 'IDGAF',
 'Yeah Glo!',
 "Different 'Round Here",
 'She Calls Me Back',
 "We Don't Fight Anymore",
 "Good (Don't Die)",
 'King',
 'Coal',
 'Mmhmm',
 'Monaco',
 'Prove It',
 'Perro Negro',
 'Sunday Service']

In [72]:
artist=[]

In [73]:
artistname=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/span')
for i in artistname:
    try:
        art=i.text
        artist.append(art)
        
    except NoSuchElementException:
        artist.append("-")

In [75]:
len(artist)

400

In [77]:
artist[:10]

['Jack Harlow',
 '1',
 '1',
 '14',
 'Beyonce',
 '-',
 '2',
 '1',
 '¥$: Kanye West & Ty Dolla $ign',
 '-']

In [78]:
artists=[]

In [79]:
for i in range(0,len(artist),4):
    artists.append(artist[i])

In [80]:
artists

['Jack Harlow',
 'Beyonce',
 '¥$: Kanye West & Ty Dolla $ign',
 'Benson Boone',
 'Teddy Swims',
 'Taylor Swift',
 'SZA',
 'Zach Bryan Featuring Kacey Musgraves',
 'Tate McRae',
 'Noah Kahan',
 'Luke Combs',
 'Doja Cat',
 'Tyla',
 'Morgan Wallen',
 '21 Savage',
 'Morgan Wallen',
 'Miley Cyrus',
 'Taylor Swift',
 'Doja Cat',
 'Usher Featuring Lil Jon & Ludacris',
 'Flo Milli',
 'Xavi',
 '¥$: Kanye West & Ty Dolla $ign',
 'Warren Zeiders',
 'Dua Lipa',
 '¥$: Kanye West & Ty Dolla $ign',
 'Billie Eilish',
 'Noah Kahan',
 'Luke Combs',
 '¥$: Kanye West & Ty Dolla $ign Featuring North West',
 'Ariana Grande',
 'Muni Long',
 '¥$: Kanye West & Ty Dolla $ign',
 '¥$: Kanye West & Ty Dolla $ign Featuring Lil Durk & Bump J',
 'Cody Johnson',
 'Usher, Summer Walker & 21 Savage',
 'Justin Timberlake',
 'Beyonce',
 '¥$: Kanye West & Ty Dolla $ign',
 'Nicki Minaj Featuring Lil Uzi Vert',
 'Drake Featuring Sexyy Red & SZA',
 'Sabrina Carpenter',
 'Olivia Rodrigo',
 'Victoria Monet',
 'Jessie Murph & Jelly Roll',
 'Dua Lipa',
 'Jelly Roll With Lainey Wilson',
 'Megan Thee Stallion',
 'Tate McRae',
 'Jelly Roll',
 'HARDY',
 '¥$: Kanye West & Ty Dolla $ign',
 '¥$: Kanye West & Ty Dolla $ign',
 'JID Featuring 21 Savage & Baby Tate',
 '¥$: Kanye West & Ty Dolla $ign',
 'Nate Smith',
 'Drake Featuring J. Cole',
 'Xavi',
 'BossMan Dlow',
 'Parker McCollum',
 'Jung Kook',
 'Ice Spice',
 'YG Marley',
 '¥$: Kanye West & Ty Dolla $ign',
 '¥$: Kanye West & Ty Dolla $ign',
 'Morgan Wallen Featuring Eric Church',
 '¥$: Kanye West & Ty Dolla $ign',
 'Rich Amiri',
 'Kali Uchis & Peso Pluma',
 'Morgan Wallen',
 'Nicki Minaj',
 'The Weeknd, Jennie & Lily Rose Depp',
 'Sophie Ellis-Bextor',
 'Drake',
 'Noah Kahan With Hozier',
 'Travis Scott Featuring Playboi Carti',
 'Chayce Beckham',
 'Don Toliver',
 '¥$: Kanye West & Ty Dolla $ign',
 '21 Savage, Travis Scott & Metro Boomin',
 '4Batz',
 'Kane Brown',
 'Thomas Rhett Featuring Morgan Wallen',
 '310babii',
 'Fuerza Regida & Marshmello',
 'Noah Kahan',
 'Peso Pluma & Anitta',
 'Drake Featuring Yeat',
 'GloRilla',
 'Riley Green Featuring Luke Combs',
 'Noah Kahan With Kacey Musgraves',
 'Carly Pearce Featuring Chris Stapleton',
 '¥$: Kanye West & Ty Dolla $ign',
 '¥$: Kanye West & Ty Dolla $ign',
 'Dylan Gossett',
 'BigXthaPlug',
 'Bad Bunny',
 '21 Savage & Summer Walker',
 'Bad Bunny & Feid',
 'Latto']

In [81]:
len(artists)

100

In [82]:
lastwk=[]

In [83]:
rank=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]')
for i in rank:
    try:
        rn=i.text
        lastwk.append(rn)
        
    except NoSuchElementException:
        lastwk.append("-")

In [84]:
len(lastwk)

100

In [85]:
lastwk

['1',
 '-',
 '-',
 '3',
 '2',
 '4',
 '5',
 '6',
 '7',
 '11',
 '8',
 '9',
 '12',
 '15',
 '14',
 '16',
 '10',
 '18',
 '17',
 '-',
 '19',
 '25',
 '-',
 '24',
 '22',
 '-',
 '20',
 '-',
 '26',
 '-',
 '21',
 '28',
 '-',
 '-',
 '30',
 '45',
 '23',
 '-',
 '-',
 '27',
 '32',
 '36',
 '29',
 '33',
 '35',
 '37',
 '40',
 '13',
 '34',
 '39',
 '46',
 '-',
 '-',
 '48',
 '-',
 '44',
 '47',
 '56',
 '68',
 '55',
 '81',
 '52',
 '60',
 '-',
 '-',
 '63',
 '-',
 '64',
 '53',
 '51',
 '54',
 '57',
 '59',
 '65',
 '97',
 '69',
 '74',
 '38',
 '-',
 '58',
 '61',
 '73',
 '78',
 '76',
 '67',
 '-',
 '70',
 '72',
 '-',
 '66',
 '-',
 '79',
 '-',
 '-',
 '86',
 '83',
 '77',
 '75',
 '82',
 '-']

In [88]:
Peakrank=[]

In [90]:
rank1=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]')
for i in rank1:
    
    try:
        
        rn1=i.text
        Peakrank.append(rn1)
        
    except NoSuchElementException:
        Peakrank.append("-")

In [91]:
len(Peakrank)

100

In [92]:
Peakrank

['1',
 '2',
 '3',
 '3',
 '2',
 '1',
 '2',
 '1',
 '3',
 '10',
 '2',
 '7',
 '7',
 '1',
 '5',
 '7',
 '1',
 '1',
 '1',
 '1',
 '18',
 '20',
 '23',
 '24',
 '11',
 '26',
 '14',
 '28',
 '26',
 '30',
 '1',
 '28',
 '33',
 '34',
 '30',
 '25',
 '19',
 '38',
 '39',
 '24',
 '11',
 '36',
 '1',
 '33',
 '35',
 '6',
 '19',
 '1',
 '34',
 '13',
 '36',
 '52',
 '53',
 '40',
 '55',
 '21',
 '1',
 '46',
 '59',
 '52',
 '5',
 '37',
 '60',
 '64',
 '65',
 '15',
 '67',
 '64',
 '22',
 '24',
 '15',
 '57',
 '51',
 '11',
 '37',
 '5',
 '64',
 '38',
 '79',
 '10',
 '59',
 '59',
 '55',
 '61',
 '40',
 '86',
 '53',
 '2',
 '89',
 '60',
 '76',
 '67',
 '93',
 '94',
 '86',
 '65',
 '5',
 '43',
 '20',
 '100']

In [93]:
Weeks_on_board=[]

In [94]:
chart=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]')
for i in chart:
    try:
        char=i.text
        Weeks_on_board.append(char)
        
    except NoSuchElementException:
        Weeks_on_board.append("-")

In [95]:
len(Weeks_on_board)

100

In [96]:
Weeks_on_board

['14',
 '1',
 '1',
 '4',
 '27',
 '41',
 '61',
 '25',
 '22',
 '20',
 '47',
 '21',
 '20',
 '55',
 '5',
 '50',
 '52',
 '16',
 '28',
 '46',
 '9',
 '9',
 '1',
 '23',
 '14',
 '1',
 '30',
 '1',
 '13',
 '1',
 '5',
 '5',
 '1',
 '1',
 '19',
 '27',
 '3',
 '1',
 '1',
 '10',
 '19',
 '11',
 '30',
 '22',
 '19',
 '33',
 '32',
 '3',
 '13',
 '44',
 '35',
 '1',
 '1',
 '14',
 '1',
 '16',
 '19',
 '9',
 '2',
 '17',
 '15',
 '3',
 '3',
 '1',
 '1',
 '21',
 '1',
 '3',
 '5',
 '3',
 '10',
 '8',
 '7',
 '13',
 '11',
 '16',
 '7',
 '2',
 '1',
 '5',
 '6',
 '7',
 '7',
 '9',
 '15',
 '1',
 '9',
 '19',
 '1',
 '11',
 '2',
 '9',
 '1',
 '1',
 '6',
 '8',
 '18',
 '5',
 '15',
 '1']

In [98]:
df4=pd.DataFrame({"Song name":songname,"Artist name":artists,"Last week rank":lastwk,"Peak rank":Peakrank,"Weeks on board":Weeks_on_board})

In [99]:
df4

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Lovin On Me,Jack Harlow,1,1,14
1,Texas Hold 'Em,Beyonce,-,2,1
2,Carnival,¥$: Kanye West & Ty Dolla $ign,-,3,1
3,Beautiful Things,Benson Boone,3,3,4
4,Lose Control,Teddy Swims,2,2,27
...,...,...,...,...,...
95,Mmhmm,BigXthaPlug,83,65,8
96,Monaco,Bad Bunny,77,5,18
97,Prove It,21 Savage & Summer Walker,75,43,5
98,Perro Negro,Bad Bunny & Feid,82,20,15
99,Sunday Service,Latto,-,100,1

6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [32]:
Allinone=[]

In [33]:
tbody=driver.find_element(By.XPATH,'//*[@id="article-body-blocks"]/div/table/thead')
now=tbody.text
Allinone.append(now.replace("\n"," "))

In [34]:
all=driver.find_elements(By.XPATH,'//*[@id="article-body-blocks"]/div/table/tbody/tr')
for i in all:
    try:
        al=i.text
        Allinone.append(al)
        
    except NoSuchElementException:
        Allinone.append("-")

In [35]:
Allinone

['Rank Title Author Volume Sales Publisher Genre',
 '1 Da Vinci Code,The Brown, Dan 5,094,805 Transworld Crime, Thriller & Adventure',
 "2 Harry Potter and the Deathly Hallows Rowling, J.K. 4,475,152 Bloomsbury Children's Fiction",
 "3 Harry Potter and the Philosopher's Stone Rowling, J.K. 4,200,654 Bloomsbury Children's Fiction",
 "4 Harry Potter and the Order of the Phoenix Rowling, J.K. 4,179,479 Bloomsbury Children's Fiction",
 '5 Fifty Shades of Grey James, E. L. 3,758,936 Random House Romance & Sagas',
 "6 Harry Potter and the Goblet of Fire Rowling, J.K. 3,583,215 Bloomsbury Children's Fiction",
 "7 Harry Potter and the Chamber of Secrets Rowling, J.K. 3,484,047 Bloomsbury Children's Fiction",
 "8 Harry Potter and the Prisoner of Azkaban Rowling, J.K. 3,377,906 Bloomsbury Children's Fiction",
 '9 Angels and Demons Brown, Dan 3,193,946 Transworld Crime, Thriller & Adventure',
 "10 Harry Potter and the Half-blood Prince:Children's Edition Rowling, J.K. 2,950,264 Bloomsbury Children's Fiction",
 '11 Fifty Shades Darker James, E. L. 2,479,784 Random House Romance & Sagas',
 '12 Twilight Meyer, Stephenie 2,315,405 Little, Brown Book Young Adult Fiction',
 '13 Girl with the Dragon Tattoo,The:Millennium Trilogy Larsson, Stieg 2,233,570 Quercus Crime, Thriller & Adventure',
 '14 Fifty Shades Freed James, E. L. 2,193,928 Random House Romance & Sagas',
 '15 Lost Symbol,The Brown, Dan 2,183,031 Transworld Crime, Thriller & Adventure',
 '16 New Moon Meyer, Stephenie 2,152,737 Little, Brown Book Young Adult Fiction',
 '17 Deception Point Brown, Dan 2,062,145 Transworld Crime, Thriller & Adventure',
 '18 Eclipse Meyer, Stephenie 2,052,876 Little, Brown Book Young Adult Fiction',
 '19 Lovely Bones,The Sebold, Alice 2,005,598 Pan Macmillan General & Literary Fiction',
 '20 Curious Incident of the Dog in the Night-time,The Haddon, Mark 1,979,552 Random House General & Literary Fiction',
 '21 Digital Fortress Brown, Dan 1,928,900 Transworld Crime, Thriller & Adventure',
 '22 Short History of Nearly Everything,A Bryson, Bill 1,852,919 Transworld Popular Science',
 '23 Girl Who Played with Fire,The:Millennium Trilogy Larsson, Stieg 1,814,784 Quercus Crime, Thriller & Adventure',
 '24 Breaking Dawn Meyer, Stephenie 1,787,118 Little, Brown Book Young Adult Fiction',
 '25 Very Hungry Caterpillar,The:The Very Hungry Caterpillar Carle, Eric 1,783,535 Penguin Picture Books',
 '26 Gruffalo,The Donaldson, Julia 1,781,269 Pan Macmillan Picture Books',
 "27 Jamie's 30-Minute Meals Oliver, Jamie 1,743,266 Penguin Food & Drink: General",
 '28 Kite Runner,The Hosseini, Khaled 1,629,119 Bloomsbury General & Literary Fiction',
 '29 One Day Nicholls, David 1,616,068 Hodder & Stoughton General & Literary Fiction',
 '30 Thousand Splendid Suns,A Hosseini, Khaled 1,583,992 Bloomsbury General & Literary Fiction',
 "31 Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy Larsson, Stieg 1,555,135 Quercus Crime, Thriller & Adventure",
 "32 Time Traveler's Wife,The Niffenegger, Audrey 1,546,886 Random House General & Literary Fiction",
 '33 Atonement McEwan, Ian 1,539,428 Random House General & Literary Fiction',
 "34 Bridget Jones's Diary:A Novel Fielding, Helen 1,508,205 Pan Macmillan General & Literary Fiction",
 '35 World According to Clarkson,The Clarkson, Jeremy 1,489,403 Penguin Humour: Collections & General',
 "36 Captain Corelli's Mandolin Bernieres, Louis de 1,352,318 Random House General & Literary Fiction",
 '37 Sound of Laughter,The Kay, Peter 1,310,207 Random House Autobiography: General',
 '38 Life of Pi Martel, Yann 1,310,176 Canongate General & Literary Fiction',
 '39 Billy Connolly Stephenson, Pamela 1,231,957 HarperCollins Biography: The Arts',
 '40 Child Called It,A Pelzer, Dave 1,217,712 Orion Autobiography: General',
 "41 Gruffalo's Child,The Donaldson, Julia 1,208,711 Pan Macmillan Picture Books",
 "42 Angela's Ashes:A Memoir of a Childhood McCourt, Frank 1,204,058 HarperCollins Autobiography: General",
 '43 Birdsong Faulks, Sebastian 1,184,967 Random House General & Literary Fiction',
 '44 Northern Lights:His Dark Materials S. Pullman, Philip 1,181,503 Scholastic Ltd. Young Adult Fiction',
 '45 Labyrinth Mosse, Kate 1,181,093 Orion General & Literary Fiction',
 '46 Harry Potter and the Half-blood Prince Rowling, J.K. 1,153,181 Bloomsbury Science Fiction & Fantasy',
 '47 Help,The Stockett, Kathryn 1,132,336 Penguin General & Literary Fiction',
 '48 Man and Boy Parsons, Tony 1,130,802 HarperCollins General & Literary Fiction',
 '49 Memoirs of a Geisha Golden, Arthur 1,126,337 Random House General & Literary Fiction',
 "50 No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S. McCall Smith, Alexander 1,115,549 Little, Brown Book Crime, Thriller & Adventure",
 '51 Island,The Hislop, Victoria 1,108,328 Headline General & Literary Fiction',
 '52 PS, I Love You Ahern, Cecelia 1,107,379 HarperCollins General & Literary Fiction',
 '53 You are What You Eat:The Plan That Will Change Your Life McKeith, Gillian 1,104,403 Penguin Fitness & Diet',
 '54 Shadow of the Wind,The Zafon, Carlos Ruiz 1,092,349 Orion General & Literary Fiction',
 "55 Tales of Beedle the Bard,The Rowling, J.K. 1,090,847 Bloomsbury Children's Fiction",
 '56 Broker,The Grisham, John 1,087,262 Random House Crime, Thriller & Adventure',
 "57 Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P Atkins, Robert C. 1,054,196 Random House Fitness & Diet",
 '58 Subtle Knife,The:His Dark Materials S. Pullman, Philip 1,037,160 Scholastic Ltd. Young Adult Fiction',
 '59 Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation Truss, Lynne 1,023,688 Profile Books Group Usage & Writing Guides',
 "60 Delia's How to Cook:(Bk.1) Smith, Delia 1,015,956 Random House Food & Drink: General",
 '61 Chocolat Harris, Joanne 1,009,873 Transworld General & Literary Fiction',
 '62 Boy in the Striped Pyjamas,The Boyne, John 1,004,414 Random House Childrens Books G Young Adult Fiction',
 "63 My Sister's Keeper Picoult, Jodi 1,003,780 Hodder & Stoughton General & Literary Fiction",
 '64 Amber Spyglass,The:His Dark Materials S. Pullman, Philip 1,002,314 Scholastic Ltd. Young Adult Fiction',
 '65 To Kill a Mockingbird Lee, Harper 998,213 Random House General & Literary Fiction',
 '66 Men are from Mars, Women are from Venus:A Practical Guide for Improvin Gray, John 992,846 HarperCollins Popular Culture & Media: General Interest',
 '67 Dear Fatty French, Dawn 986,753 Random House Autobiography: The Arts',
 '68 Short History of Tractors in Ukrainian,A Lewycka, Marina 986,115 Penguin General & Literary Fiction',
 '69 Hannibal Harris, Thomas 970,509 Random House Crime, Thriller & Adventure',
 '70 Lord of the Rings,The Tolkien, J. R. R. 967,466 HarperCollins Science Fiction & Fantasy',
 '71 Stupid White Men:...and Other Sorry Excuses for the State of the Natio Moore, Michael 963,353 Penguin Current Affairs & Issues',
 '72 Interpretation of Murder,The Rubenfeld, Jed 962,515 Headline Crime, Thriller & Adventure',
 '73 Sharon Osbourne Extreme:My Autobiography Osbourne, Sharon 959,496 Little, Brown Book Autobiography: The Arts',
 '74 Alchemist,The:A Fable About Following Your Dream Coelho, Paulo 956,114 HarperCollins General & Literary Fiction',
 "75 At My Mother's Knee ...:and Other Low Joints O'Grady, Paul 945,640 Transworld Autobiography: The Arts",
 '76 Notes from a Small Island Bryson, Bill 931,312 Transworld Travel Writing',
 '77 Return of the Naked Chef,The Oliver, Jamie 925,425 Penguin Food & Drink: General',
 '78 Bridget Jones: The Edge of Reason Fielding, Helen 924,695 Pan Macmillan General & Literary Fiction',
 "79 Jamie's Italy Oliver, Jamie 906,968 Penguin National & Regional Cuisine",
 '80 I Can Make You Thin McKenna, Paul 905,086 Transworld Fitness & Diet',
 '81 Down Under Bryson, Bill 890,847 Transworld Travel Writing',
 '82 Summons,The Grisham, John 869,671 Random House Crime, Thriller & Adventure',
 '83 Small Island Levy, Andrea 869,659 Headline General & Literary Fiction',
 '84 Nigella Express Lawson, Nigella 862,602 Random House Food & Drink: General',
 '85 Brick Lane Ali, Monica 856,540 Transworld General & Literary Fiction',
 "86 Memory Keeper's Daughter,The Edwards, Kim 845,858 Penguin General & Literary Fiction",
 '87 Room on the Broom Donaldson, Julia 842,535 Pan Macmillan Picture Books',
 '88 About a Boy Hornby, Nick 828,215 Penguin General & Literary Fiction',
 '89 My Booky Wook Brand, Russell 820,563 Hodder & Stoughton Autobiography: The Arts',
 '90 God Delusion,The Dawkins, Richard 816,907 Transworld Popular Science',
 '91 "Beano" Annual,The 0 816,585 D.C. Thomson Children\'s Annuals',
 '92 White Teeth Smith, Zadie 815,586 Penguin General & Literary Fiction',
 '93 House at Riverton,The Morton, Kate 814,370 Pan Macmillan General & Literary Fiction',
 '94 Book Thief,The Zusak, Markus 809,641 Transworld General & Literary Fiction',
 '95 Nights of Rain and Stars Binchy, Maeve 808,900 Orion General & Literary Fiction',
 '96 Ghost,The Harris, Robert 807,311 Random House General & Literary Fiction',
 '97 Happy Days with the Naked Chef Oliver, Jamie 794,201 Penguin Food & Drink: General',
 '98 Hunger Games,The:Hunger Games Trilogy Collins, Suzanne 792,187 Scholastic Ltd. Young Adult Fiction',
 "99 Lost Boy,The:A Foster Child's Search for the Love of a Family Pelzer, Dave 791,507 Orion Biography: General",
 "100 Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours Oliver, Jamie 791,095 Penguin Food & Drink: General"]

In [13]:
import re

In [36]:
df5=pd.DataFrame({"ALL":Allinone})

In [37]:
df5

                                                   ALL
0       Rank Title Author Volume Sales Publisher Genre
1    1 Da Vinci Code,The Brown, Dan 5,094,805 Trans...
2    2 Harry Potter and the Deathly Hallows Rowling...
3    3 Harry Potter and the Philosopher's Stone Row...
4    4 Harry Potter and the Order of the Phoenix Ro...
..                                                 ...
96   96 Ghost,The Harris, Robert 807,311 Random Hou...
97   97 Happy Days with the Naked Chef Oliver, Jami...
98   98 Hunger Games,The:Hunger Games Trilogy Colli...
99   99 Lost Boy,The:A Foster Child's Search for th...
100  100 Jamie's Ministry of Food:Anyone Can Learn ...

[101 rows x 1 columns]

7. Scrape the details most watched tv series of all time from imdb.com.
https://www.imdb.com/search/title/?title_type=tv_series&sort=num_votes,desc

1.Name

2.Year span

3.rating

4.votes

In [37]:
driver=webdriver.Chrome()

In [38]:
driver.get('https://www.imdb.com/search/title/?title_type=tv_series&sort=num_votes,desc')

In [76]:
Name=[]

In [77]:
name=driver.find_elements(By.XPATH,'//div[@class="ipc-title ipc-title--base ipc-title--title ipc-title-link-no-icon ipc-title--on-textPrimary sc-be6f1408-9 srahg dli-title"]')
for i in name:
    try:
        nm=i.text.replace(r'/d[0-9].'," ")
        Name.append(nm)
        
    except NoSuchElementException:
        Name.append("-")

In [78]:
Name

['1. Game of Thrones',
 '2. Breaking Bad',
 '3. Stranger Things',
 '4. Friends',
 '5. The Walking Dead',
 '6. Sherlock',
 '7. The Big Bang Theory',
 '8. Dexter',
 '9. How I Met Your Mother',
 '10. The Office',
 '11. True Detective',
 '12. Peaky Blinders',
 '13. Better Call Saul',
 '14. The Boys',
 '15. Black Mirror',
 '16. Rick and Morty',
 '17. Lost',
 '18. The Mandalorian',
 '19. Vikings',
 '20. Prison Break',
 '21. The Witcher',
 '22. Squid Game',
 '23. Westworld',
 '24. House of Cards',
 '25. Money Heist',
 '26. House',
 '27. The Last of Us',
 '28. Attack on Titan',
 '29. Supernatural',
 '30. Modern Family',
 '31. Suits',
 '32. Daredevil',
 '33. Narcos',
 '34. The Sopranos',
 '35. Arrow',
 '36. Dark',
 '37. The Simpsons',
 '38. Fargo',
 '39. Mr. Robot',
 '40. Loki',
 '41. South Park',
 '42. The Wire',
 '43. Death Note',
 '44. The Flash',
 '45. House of the Dragon',
 '46. Family Guy',
 '47. Homeland',
 '48. Avatar: The Last Airbender',
 '49. Brooklyn Nine-Nine',
 '50. Wednesday']

In [79]:
Year=[]

In [82]:
yearspan=driver.find_elements(By.XPATH,'//div[@class="sc-be6f1408-7 iUtHEN dli-title-metadata"]/span')
for i in yearspan:
    try:
        yr=i.text
        Year.append(yr)
        
    except NoSuchElementException:
        Year.append("-")

In [83]:
Year

['2011–2019',
 'TV-MA',
 '2008–2013',
 'TV-MA',
 '2016–2025',
 'TV-14',
 '1994–2004',
 'TV-14',
 '2010–2022',
 'TV-MA',
 '2010–2017',
 'TV-14',
 '2007–2019',
 'TV-PG',
 '2006–2013',
 'TV-MA',
 '2005–2014',
 'TV-14',
 '2005–2013',
 'TV-14',
 '2014–',
 'TV-MA',
 '2013–2022',
 'TV-MA',
 '2015–2022',
 'TV-MA',
 '2019–',
 'TV-MA',
 '2011–',
 'TV-MA',
 '2013–',
 'TV-MA',
 '2004–2010',
 'TV-14',
 '2019–',
 'TV-14',
 '2013–2020',
 'TV-MA',
 '2005–2017',
 'TV-14',
 '2019–',
 'TV-MA',
 '2021–',
 'TV-MA',
 '2016–2022',
 'TV-MA',
 '2013–2018',
 'TV-MA',
 '2017–2021',
 'TV-MA',
 '2004–2012',
 'TV-14',
 '2023–',
 'TV-MA',
 '2013–2023',
 'TV-MA',
 '2005–2020',
 'TV-14',
 '2009–2020',
 'TV-PG',
 '2011–2019',
 'TV-14',
 '2015–2018',
 'TV-MA',
 '2015–2017',
 'TV-MA',
 '1999–2007',
 'TV-MA',
 '2012–2020',
 'TV-14',
 '2017–2020',
 'TV-MA',
 '1989–',
 'TV-14',
 '2014–2024',
 'TV-MA',
 '2015–2019',
 'TV-MA',
 '2021–2023',
 'TV-14',
 '1997–',
 'TV-MA',
 '2002–2008',
 'TV-MA',
 '2006–2007',
 'TV-14',
 '2014–2023',
 'TV-PG',
 '2022–',
 'TV-MA',
 '1999–2025',
 'TV-MA',
 '2011–2020',
 'TV-MA',
 '2005–2008',
 'TV-Y7-FV',
 '2013–2021',
 'TV-14',
 '2022–',
 'TV-14']

In [84]:
Yearspan=[]

In [85]:
for i in range(0,len(Year),2):
    Yearspan.append(Year[i])

In [86]:
Yearspan

['2011–2019',
 '2008–2013',
 '2016–2025',
 '1994–2004',
 '2010–2022',
 '2010–2017',
 '2007–2019',
 '2006–2013',
 '2005–2014',
 '2005–2013',
 '2014–',
 '2013–2022',
 '2015–2022',
 '2019–',
 '2011–',
 '2013–',
 '2004–2010',
 '2019–',
 '2013–2020',
 '2005–2017',
 '2019–',
 '2021–',
 '2016–2022',
 '2013–2018',
 '2017–2021',
 '2004–2012',
 '2023–',
 '2013–2023',
 '2005–2020',
 '2009–2020',
 '2011–2019',
 '2015–2018',
 '2015–2017',
 '1999–2007',
 '2012–2020',
 '2017–2020',
 '1989–',
 '2014–2024',
 '2015–2019',
 '2021–2023',
 '1997–',
 '2002–2008',
 '2006–2007',
 '2014–2023',
 '2022–',
 '1999–2025',
 '2011–2020',
 '2005–2008',
 '2013–2021',
 '2022–']

In [87]:
len(Yearspan)

50

In [45]:
Years=[]

In [46]:
Ratings=[]

In [47]:
Votes=[]

In [48]:
Names=[]

In [49]:
ratingurl=[]

In [50]:
url=driver.find_elements(By.XPATH,'//a[@class="ipc-lockup-overlay ipc-focusable"]')
for i in url:
    ratingurl.append(i.get_attribute("href"))
    
for url in ratingurl[0:50]:
    driver.get(url)
    time.sleep(3)
    
    try:
        name=driver.find_elements(By.XPATH,'//span[@class="hero__primary-text"]')
        for i in name:
            now=i.text
            Names.append(now)
            
    except NoSuchElementException:
        Names.append("-")
        
    try:
        year=driver.find_elements(By.XPATH,'/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/ul/li[2]')
        for i in year:
            yr=i.text
            Years.append(yr)
    except NoSuchElementException:
        Years.append("-")
        
    try:
        rating=driver.find_elements(By.XPATH,'//span[@class="sc-bde20123-1 cMEQkK"]')
        for i in rating:
            rat=i.text
            Ratings.append(rat)
            
    except NoSuchElementException:
        Ratings.append("-")
        
    try:
        votes=driver.find_elements(By.XPATH,'//div[@class="sc-bde20123-3 gPVQxL"]')
        for i in votes:
            vot=i.text
            Vote.append(vot)
            
    except NoSuchElementException:
        Vote.append("-")
            
    
    
    
print(len(Names),len(Years),len(Ratings),len(Votes))

50 50 100 0

In [58]:
Ratings

['',
 '9.2',
 '',
 '9.5',
 '',
 '8.7',
 '',
 '8.9',
 '',
 '8.1',
 '',
 '9.1',
 '',
 '8.1',
 '',
 '8.7',
 '',
 '8.3',
 '',
 '9.0',
 '',
 '8.9',
 '',
 '8.8',
 '',
 '9.0',
 '',
 '8.7',
 '',
 '8.7',
 '',
 '9.1',
 '',
 '8.3',
 '',
 '8.7',
 '',
 '8.5',
 '',
 '8.3',
 '',
 '8.0',
 '',
 '8.0',
 '',
 '8.5',
 '',
 '8.6',
 '',
 '8.2',
 '',
 '8.7',
 '',
 '8.8',
 '',
 '9.1',
 '',
 '8.4',
 '',
 '8.5',
 '',
 '8.4',
 '',
 '8.6',
 '',
 '8.8',
 '',
 '9.2',
 '',
 '7.5',
 '',
 '8.7',
 '',
 '8.7',
 '',
 '8.9',
 '',
 '8.5',
 '',
 '8.2',
 '',
 '8.7',
 '',
 '9.3',
 '',
 '8.9',
 '',
 '7.5',
 '',
 '8.4',
 '8.2',
 '',
 '8.3',
 '',
 '9.3',
 '',
 '8.4',
 '',
 '8.1',
 '']

In [72]:
ratings=[]

In [73]:
for i in range(1,len(Ratings),2):
    ratings.append(Ratings[i])

In [75]:
len(ratings)

50

In [77]:
Vote

['',
 '2.3M',
 '',
 '2.1M',
 '',
 '1.3M',
 '',
 '1.1M',
 '',
 '1.1M',
 '',
 '988K',
 '',
 '860K',
 '',
 '759K',
 '',
 '723K',
 '',
 '699K',
 '',
 '642K',
 '',
 '636K',
 '',
 '636K',
 '',
 '634K',
 '',
 '632K',
 '',
 '594K',
 '',
 '590K',
 '',
 '580K',
 '',
 '575K',
 '',
 '574K',
 '',
 '565K',
 '',
 '531K',
 '',
 '529K',
 '',
 '528K',
 '',
 '526K',
 '',
 '504K',
 '',
 '501K',
 '',
 '498K',
 '',
 '479K',
 '',
 '477K',
 '',
 '471K',
 '',
 '471K',
 '',
 '465K',
 '',
 '462K',
 '',
 '445K',
 '',
 '437K',
 '',
 '433K',
 '',
 '416K',
 '',
 '415K',
 '',
 '406K',
 '',
 '403K',
 '',
 '373K',
 '',
 '372K',
 '',
 '367K',
 '',
 '363K',
 '362K',
 '',
 '359K',
 '',
 '357K',
 '',
 '356K',
 '',
 '353K',
 '']

In [78]:
Votes=[]

In [79]:
for i in range(1,len(Vote),2):
    Votes.append(Vote[i])

In [81]:
len(Votes)

50

In [82]:
Votes

['2.3M',
 '2.1M',
 '1.3M',
 '1.1M',
 '1.1M',
 '988K',
 '860K',
 '759K',
 '723K',
 '699K',
 '642K',
 '636K',
 '636K',
 '634K',
 '632K',
 '594K',
 '590K',
 '580K',
 '575K',
 '574K',
 '565K',
 '531K',
 '529K',
 '528K',
 '526K',
 '504K',
 '501K',
 '498K',
 '479K',
 '477K',
 '471K',
 '471K',
 '465K',
 '462K',
 '445K',
 '437K',
 '433K',
 '416K',
 '415K',
 '406K',
 '403K',
 '373K',
 '372K',
 '367K',
 '363K',
 '',
 '',
 '',
 '',
 '']

In [27]:
Names=Name[:49]

In [28]:
Names

['Game of Thrones',
 'Breaking Bad',
 'Stranger Things',
 'Friends',
 'The Walking Dead',
 'Sherlock',
 'The Big Bang Theory',
 'Dexter',
 'How I Met Your Mother',
 'The Office',
 'True Detective',
 'Peaky Blinders',
 'Better Call Saul',
 'The Boys',
 'Black Mirror',
 'Rick and Morty',
 'Lost',
 'The Mandalorian',
 'Vikings',
 'Prison Break',
 'The Witcher',
 'Squid Game',
 'Westworld',
 'House of Cards',
 'Money Heist',
 'House',
 'The Last of Us',
 'Attack on Titan',
 'Supernatural',
 'Modern Family',
 'Suits',
 'Daredevil',
 'Narcos',
 'The Sopranos',
 'Arrow',
 'Dark',
 'The Simpsons',
 'Fargo',
 'Mr. Robot',
 'Loki',
 'South Park',
 'The Wire',
 'Death Note',
 'The Flash',
 'House of the Dragon',
 'Family Guy',
 'Homeland',
 'Avatar: The Last Airbender',
 'Brooklyn Nine-Nine']

In [85]:
df7=pd.DataFrame({"Name":Names,"Year span":Years,"rating":ratings,"votes":Votes})

In [86]:
df7

                          Name  Year span rating votes
0              Game of Thrones  2011–2019    9.2  2.3M
1                 Breaking Bad  2008–2013    9.5  2.1M
2              Stranger Things  2016–2025    8.7  1.3M
3                      Friends  1994–2004    8.9  1.1M
4             The Walking Dead  2010–2022    8.1  1.1M
5                     Sherlock  2010–2017    9.1  988K
6          The Big Bang Theory  2007–2019    8.1  860K
7                       Dexter  2006–2013    8.7  759K
8        How I Met Your Mother  2005–2014    8.3  723K
9                   The Office  2005–2013    9.0  699K
10              True Detective      2014–    8.9  642K
11              Peaky Blinders  2013–2022    8.8  636K
12            Better Call Saul  2015–2022    9.0  636K
13                    The Boys      2019–    8.7  634K
14                Black Mirror      2011–    8.7  632K
15              Rick and Morty      2013–    9.1  594K
16                        Lost  2004–2010    8.3  590K
17             The Mandalorian      2019–    8.7  580K
18                     Vikings  2013–2020    8.5  575K
19                Prison Break  2005–2017    8.3  574K
20                 The Witcher      2019–    8.0  565K
21                  Squid Game      2021–    8.0  531K
22                   Westworld  2016–2022    8.5  529K
23              House of Cards  2013–2018    8.6  528K
24                 Money Heist  2017–2021    8.2  526K
25                       House  2004–2012    8.7  504K
26              The Last of Us      2023–    8.8  501K
27             Attack on Titan  2013–2023    9.1  498K
28                Supernatural  2005–2020    8.4  479K
29               Modern Family  2009–2020    8.5  477K
30                       Suits  2011–2019    8.4  471K
31                   Daredevil  2015–2018    8.6  471K
32                      Narcos  2015–2017    8.8  465K
33                The Sopranos  1999–2007    9.2  462K
34                       Arrow  2012–2020    7.5  445K
35                        Dark  2017–2020    8.7  437K
36                The Simpsons      1989–    8.7  433K
37                       Fargo  2014–2024    8.9  416K
38                   Mr. Robot  2015–2019    8.5  415K
39                        Loki  2021–2023    8.2  406K
40                  South Park      1997–    8.7  403K
41                    The Wire  2002–2008    9.3  373K
42                  Death Note  2006–2007    8.9  372K
43                   The Flash  2014–2023    7.5  367K
44         House of the Dragon      2022–    8.4  363K
45                  Family Guy  1999–2025
46                    Homeland  2011–2020
47  Avatar: The Last Airbender  2005–2008
48          Brooklyn Nine-Nine  2013–2021
49                   Wednesday      2022–

8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You
have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
 Note: - from the home page you have to go to the Show All Dataset page through code.

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.get('https://archive.ics.uci.edu/')

In [6]:
view=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
view.click()

In [9]:
expand=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]')
expand.click()

In [7]:
Dataset=[]

In [10]:
data=driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]')
for i in data:
    try:
        new=i.text
        Dataset.append(new)
        
    except NosuchElementException:
        Dataset.append("-")

In [11]:
Dataset

['Iris',
 'Dry Bean Dataset',
 'Heart Disease',
 'Rice (Cammeo and Osmancik)',
 'Adult',
 'Raisin',
 'Wine',
 'Breast Cancer Wisconsin (Diagnostic)',
 'Wine Quality',
 'Diabetes']

In [12]:
Type=[]

In [13]:
dtype=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]')
for i in dtype:
    try:
        dt=i.text
        Type.append(dt)
        
    except NoSuchElementException:
        Type.append("-")

In [14]:
Type

['Tabular',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Tabular',
 'Multivariate',
 'Multivariate',
 'Multivariate, Time-Series']

In [15]:
Task=[]

In [16]:
task=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]')
for i in task:
    try:
        ts=i.text
        Task.append(ts)
        
    except NoSuchElementException:
        Task.append("-")

In [17]:
Task

['Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification, Regression',
 'Classification']

In [18]:
Attribute=[]

In [19]:
attr=driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[2]')
for i in attr:
    try:
        at=i.text
        Attribute.append(at)
        
    except NoSuchElementException:
        Attribute.append("-")

In [20]:
Attribute

['Real',
 'Categorical, Integer, Real',
 'Real',
 'Categorical, Integer',
 'Real, Integer',
 'Integer, Real',
 'Real',
 'Real',
 'Categorical, Integer']

In [24]:
Instances=[]

In [25]:
inst=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span')
for i in inst:
    try:
        st=i.text
        Instances.append(st)
        
    except NoSuchElementException:
        Instances.append("-")

In [27]:
Instances

['150 Instances',
 '13.61K Instances',
 '303 Instances',
 '3.81K Instances',
 '48.84K Instances',
 '900 Instances',
 '178 Instances',
 '569 Instances',
 '4.9K Instances',
 '1 Instances']

In [28]:
no_of_attribut=[]

In [29]:
no=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span')
for i in no:
    try:
        n=i.text
        no_of_attribut.append(n)
        
    except NoSuchElementException:
        
        no_of_attribut.append("-")

In [30]:
no_of_attribut

['4 Features',
 '16 Features',
 '13 Features',
 '7 Features',
 '14 Features',
 '8 Features',
 '13 Features',
 '30 Features',
 '12 Features',
 '20 Features']

In [31]:
Year=[]

In [33]:
year=driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[3]')
for i in year:
    try:
        yr=i.text
        Year.append(yr)
        
    except NoSuchElementException:
        Year.append("-")

In [34]:
Year

['7/1/1988',
 '7/1/1988',
 '10/6/2019',
 '5/1/1996',
 '8/14/2023',
 '7/1/1991',
 '11/1/1995',
 '10/7/2009',
 'N/A']

In [35]:
df8=pd.DataFrame({"Dataset name":Dataset[:9],"Data type":Type[:9],"Task":Task[:9],"Attribute type":Attribute,"No of instances":Instances[:9],"No of attribute":no_of_attribut[:9],"Year":Year })

In [36]:
df8

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Iris,Tabular,Classification,Real,150 Instances,4 Features,7/1/1988
1,Dry Bean Dataset,Multivariate,Classification,"Categorical, Integer, Real",13.61K Instances,16 Features,7/1/1988
2,Heart Disease,Multivariate,Classification,Real,303 Instances,13 Features,10/6/2019
3,Rice (Cammeo and Osmancik),Multivariate,Classification,"Categorical, Integer",3.81K Instances,7 Features,5/1/1996
4,Adult,Multivariate,Classification,"Real, Integer",48.84K Instances,14 Features,8/14/2023
5,Raisin,Multivariate,Classification,"Integer, Real",900 Instances,8 Features,7/1/1991
6,Wine,Tabular,Classification,Real,178 Instances,13 Features,11/1/1995
7,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features,10/7/2009
8,Wine Quality,Multivariate,"Classification, Regression","Categorical, Integer",4.9K Instances,12 Features,N/A