7) Write a python program to scrape mentioned details from dineout.co.inand make data framei) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [10]:
from bs4 import BeautifulSoup

In [11]:
import requests

In [12]:
page3=requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")

In [13]:
page3

In [14]:
soup3=BeautifulSoup(page3.content)

In [14]:
title=[]
for i in soup3.find_all('div',class_="restnt-info cursor"):
    title.append(i.text)

In [15]:
title

['Castle BarbequeConnaught Place, Central Delhi',
 'Cafe KnoshThe Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'India GrillHilton Garden Inn,Saket, South Delhi',
 'The Barbeque CompanyGardens Galleria,Sector 38A, Noida',
 'Delhi BarbequeTaurus Sarovar Portico,Mahipalpur, South Delhi',
 'The Monarch - Bar Be Que VillageIndirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'The Barbeque TimesM2K Corporate Park,Sector 51, Gurgaon']

In [20]:
cuisines=[]
for i in soup3.find_all('span', class_='double-line-ellipsis'):
    cuisines.append(i.text)

In [21]:
cuisines

['₹ 2,000 for 2 (approx) | Chinese, North Indian',
 '₹ 3,000 for 2 (approx) | Italian, Continental',
 '₹ 2,400 for 2 (approx) | North Indian, Italian',
 '₹ 1,700 for 2 (approx) | North Indian, Chinese',
 '₹ 1,800 for 2 (approx) | North Indian',
 '₹ 1,900 for 2 (approx) | North Indian',
 '₹ 1,500 for 2 (approx) | North Indian, Continental, Chinese, South Indian']

In [22]:
loc=[]
for i in soup3.find_all('div',class_="restnt-loc ellipsis"):
    loc.append(i.text)

In [23]:
loc

['Connaught Place, Central Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Hilton Garden Inn,Saket, South Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'M2K Corporate Park,Sector 51, Gurgaon']

In [24]:
rat=[]
for i in soup3.find_all('div',class_="restnt-rating rating-4"):
    rat.append(i.text)

In [25]:
rat

['4', '4.3', '3.9', '3.9', '3.7', '3.8', '4.1']

In [32]:
imgurl=[]
for i in soup3.find_all('img',class_="no-img"):
    imgurl.append(i['data-src'])

In [34]:
imgurl

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/q/t/p2687-169589385765154961ea87c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/u/r/p106428-166073786162fcd945925a9.jpg?tr=tr:n-medium']

In [35]:
import pandas as pd

In [46]:
df=pd.DataFrame({"Name of the Restaurents":title,"Cuisines":cuisines,"Locations":loc,"Rating":rat,"imageURL":imgurl})

In [47]:
df

,Name of the Restaurents,Cuisines,Locations,Rating,imageURL
0,"Castle BarbequeConnaught Place, Central Delhi","₹ 2,000 for 2 (approx) | Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,"Cafe KnoshThe Leela Ambience Convention Hotel,...","₹ 3,000 for 2 (approx) | Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
2,"India GrillHilton Garden Inn,Saket, South Delhi","₹ 2,400 for 2 (approx) | North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,"The Barbeque CompanyGardens Galleria,Sector 38...","₹ 1,700 for 2 (approx) | North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...","₹ 1,800 for 2 (approx) | North Indian","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
5,The Monarch - Bar Be Que VillageIndirapuram Ha...,"₹ 1,900 for 2 (approx) | North Indian","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
6,"The Barbeque TimesM2K Corporate Park,Sector 51...","₹ 1,500 for 2 (approx) | North Indian, Contine...","M2K Corporate Park,Sector 51, Gurgaon",4.1,https://im1.dineout.co.in/images/uploads/resta...

5) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and
make data framei) Headline
ii) Time
iii) News Link

In [15]:
page4=requests.get("https://www.cnbc.com/world/?region=world")

In [16]:
page4

In [17]:
soup4=BeautifulSoup(page4.content)

In [45]:
head=[]
for i in soup4.find_all('a',class_="LatestNews-headline"):
    head.append(i.text)

In [46]:
head

['CNBC Daily Open: Big Bank earnings point to a grim season   ',
 'European markets set to start new trading week in positive territory; investors prepare for Davos',
 'Japan markets are hitting multi-decade highs — will Nikkei scale a new peak?',
 "Taiwan's new president will face a divided parliament. Here's why it matters",
 "Gen Zers are leading the way in Singapore's online shopping space",
 'CNBC Daily Open: Big Bank earnings signal downbeat quarter',
 'China stocks erase losses as central bank holds rates; Taiwan stocks rise after elections',
 "Here are Wall Street's top semiconductor stock picks for 2024",
 "Goldman says it's time to buy this unloved global sector — and names top stocks",
 "Americans are canceling trips that are thousands of miles from Gaza. Here's why",
 'House Republicans say they will re-subpoena Hunter Biden in coming weeks',
 'Nikki Haley campaign site lacks policy platform, simple way to evaluate positions',
 "Defense Secretary Austin is 'actively involved and engaged' while hospitalized",
 'Pro-Palestine protestors arrested for London Stock Exchange scheme',
 "'Mean Girls' is the Queen Bee of the box office, opens to $28 million",
 'After big tech layoffs, Silicon Valley may have lost its monopoly on workers',
 'Ford could do 2 things to really shine in a challenging 2024 for the auto industry',
 'Data shows that this is the key to successfully landing a first date',
 'How 27-year-old whose business brought in $1 million avoids lifestyle creep',
 "The 'holy grail' of longevity foods this doctor eats every day—it protects you 'like a suit of armor'",
 'The No. 1 in-demand remote job companies are hiring for',
 "Barbara Corcoran: Why feeling like a fraud at work 'guarantees' success",
 'Please stop ignoring your flight attendants ',
 "Hertz makes 'agile' decision to shift strategy and sell EVs, Teslas",
 "Ramit Sethi: Common money belief could cost you 'millions of dollars'",
 'This beach city is helping older adults achieve their wish to age in place',
 'Companies are betting on a promising class of cancer drugs to drive growth',
 "Goldman picks China stocks in case there's a repeat of Japan's lost decades",
 'Bitcoin slid after key ETFs debuted. What it means for crypto miners’ profits',
 "Here's why Buffett calls airline stocks hazardous to your investment health "]

In [39]:
times=[]
for i in soup4.find_all("time",class_="LatestNews-timestamp"):
    times.append(i.text)

In [40]:
times

['21 Min Ago',
 '2 Hours Ago',
 '4 Hours Ago',
 '7 Hours Ago',
 '7 Hours Ago',
 '8 Hours Ago',
 '8 Hours Ago',
 '9 Hours Ago',
 '9 Hours Ago',
 '9 Hours Ago',
 '9 Hours Ago',
 '11 Hours Ago',
 '12 Hours Ago',
 '12 Hours Ago',
 '14 Hours Ago',
 '17 Hours Ago',
 '17 Hours Ago',
 '17 Hours Ago',
 '17 Hours Ago',
 '17 Hours Ago',
 '17 Hours Ago',
 '17 Hours Ago',
 '18 Hours Ago',
 '18 Hours Ago',
 '18 Hours Ago',
 '18 Hours Ago',
 '19 Hours Ago',
 '20 Hours Ago',
 '20 Hours Ago',
 '20 Hours Ago']

In [49]:
links=[]
for i in soup4.find_all('a',class_="LatestNews-headline"):
    links.append(i['href'])

In [50]:
links

['https://www.cnbc.com/2024/01/15/stock-markets-big-bank-earnings-point-to-a-grim-season-.html',
 'https://www.cnbc.com/2024/01/15/european-markets-live-updates-stocks-news-data-davos.html',
 'https://www.cnbc.com/2024/01/15/japans-markets-could-nikkei-scale-its-all-time-peak.html',
 'https://www.cnbc.com/2024/01/15/taiwan-election-new-president-lai-ching-te-to-face-divided-parliament.html',
 'https://www.cnbc.com/2024/01/15/gen-zs-lead-the-way-in-singapores-online-shopping-space.html',
 'https://www.cnbc.com/2024/01/15/stock-markets-earnings-dont-start-until-the-big-banks-report.html',
 'https://www.cnbc.com/2024/01/15/asia-markets.html',
 'https://www.cnbc.com/2024/01/15/here-are-wall-streets-top-semiconductor-stock-picks-for-2024.html',
 'https://www.cnbc.com/2024/01/15/goldman-sachs-is-bullish-on-this-sector-in-europe-and-names-stocks-to-buy.html',
 'https://www.cnbc.com/2024/01/15/the-israel-hamas-war-is-affecting-traveler-confidence-and-bookings.html',
 'https://www.cnbc.com/2024/01/14/house-republicans-say-they-will-re-subpoena-hunter-biden-in-coming-weeks.html',
 'https://www.cnbc.com/2024/01/14/nikki-haley-policy-platform-missing-from-campaign-website-.html',
 'https://www.cnbc.com/2024/01/14/defense-secretary-austin-is-actively-involved-and-engaged-while-hospitalized.html',
 'https://www.cnbc.com/2024/01/14/pro-palestine-protestors-arrested-for-london-stock-exchange-scheme.html',
 'https://www.cnbc.com/2024/01/14/mean-girls-opening-weekend-box-office-hits-28-million.html',
 'https://www.cnbc.com/2024/01/14/after-big-tech-layoffs-silicon-valley-loses-its-monopoly-on-workers.html',
 'https://www.cnbc.com/2024/01/14/ford-could-do-2-things-to-shine-in-a-challenging-2024-for-auto-industry.html',
 'https://www.cnbc.com/2024/01/14/hinge-data-shows-this-is-the-key-to-successfully-landing-a-first-date.html',
 'https://www.cnbc.com/2024/01/14/how-27-year-old-with-a-1-million-business-avoids-lifestyle-inflation.html',
 'https://www.cnbc.com/2024/01/14/holy-grail-of-longevity-foods-that-this-doctor-eats-every-day.html',
 'https://www.cnbc.com/2024/01/14/the-no-1-in-demand-remote-job-companies-are-hiring-for.html',
 'https://www.cnbc.com/2024/01/14/barbara-corcoran-why-imposter-syndrome-can-be-good-for-your-career.html',
 'https://www.cnbc.com/2024/01/14/alaska-japan-airlines-incidents-safety-briefings.html',
 'https://www.cnbc.com/2024/01/14/hertz-makes-agile-decision-to-shift-strategy-and-sell-evs-teslas.html',
 'https://www.cnbc.com/2024/01/14/ramit-sethi-common-money-belief-could-cost-you-millions-of-dollars.html',
 'https://www.cnbc.com/2024/01/14/how-laguna-beach-california-is-helping-residents-age-in-place.html',
 'https://www.cnbc.com/2024/01/14/cancer-drugs-renewed-interest-in-adcs-will-continue-in-2024.html',
 'https://www.cnbc.com/2024/01/14/goldman-sachs-picks-china-stocks-even-if-japans-lost-decades-repeat.html',
 'https://www.cnbc.com/2024/01/14/bitcoin-tumbled-after-etfs-launched-what-it-means-for-crypto-miners.html',
 'https://www.cnbc.com/2024/01/14/heres-why-warren-buffett-calls-airline-stocks-hazardous-to-your-investment-health-.html']

In [10]:
import pandas as pd

In [51]:
df1=pd.DataFrame({"Heading":head,"Time":times,"links":links})

In [52]:
df1

,Heading,Time,links
0,CNBC Daily Open: Big Bank earnings point to a ...,21 Min Ago,https://www.cnbc.com/2024/01/15/stock-markets-...
1,European markets set to start new trading week...,2 Hours Ago,https://www.cnbc.com/2024/01/15/european-marke...
2,Japan markets are hitting multi-decade highs —...,4 Hours Ago,https://www.cnbc.com/2024/01/15/japans-markets...
3,Taiwan's new president will face a divided par...,7 Hours Ago,https://www.cnbc.com/2024/01/15/taiwan-electio...
4,Gen Zers are leading the way in Singapore's on...,7 Hours Ago,https://www.cnbc.com/2024/01/15/gen-zs-lead-th...
5,CNBC Daily Open: Big Bank earnings signal down...,8 Hours Ago,https://www.cnbc.com/2024/01/15/stock-markets-...
6,China stocks erase losses as central bank hold...,8 Hours Ago,https://www.cnbc.com/2024/01/15/asia-markets.html
7,Here are Wall Street's top semiconductor stock...,9 Hours Ago,https://www.cnbc.com/2024/01/15/here-are-wall-...
8,Goldman says it's time to buy this unloved glo...,9 Hours Ago,https://www.cnbc.com/2024/01/15/goldman-sachs-...
9,Americans are canceling trips that are thousan...,9 Hours Ago,https://www.cnbc.com/2024/01/15/the-israel-ham...
10,House Republicans say they will re-subpoena Hu...,9 Hours Ago,https://www.cnbc.com/2024/01/14/house-republic...
11,Nikki Haley campaign site lacks policy platfor...,11 Hours Ago,https://www.cnbc.com/2024/01/14/nikki-haley-po...
12,Defense Secretary Austin is 'actively involved...,12 Hours Ago,https://www.cnbc.com/2024/01/14/defense-secret...
13,Pro-Palestine protestors arrested for London S...,12 Hours Ago,https://www.cnbc.com/2024/01/14/pro-palestine-...
14,'Mean Girls' is the Queen Bee of the box offic...,14 Hours Ago,https://www.cnbc.com/2024/01/14/mean-girls-ope...
15,"After big tech layoffs, Silicon Valley may hav...",17 Hours Ago,https://www.cnbc.com/2024/01/14/after-big-tech...
16,Ford could do 2 things to really shine in a ch...,17 Hours Ago,https://www.cnbc.com/2024/01/14/ford-could-do-...
17,Data shows that this is the key to successfull...,17 Hours Ago,https://www.cnbc.com/2024/01/14/hinge-data-sho...
18,How 27-year-old whose business brought in $1 m...,17 Hours Ago,https://www.cnbc.com/2024/01/14/how-27-year-ol...
19,The 'holy grail' of longevity foods this docto...,17 Hours Ago,https://www.cnbc.com/2024/01/14/holy-grail-of-...
20,The No. 1 in-demand remote job companies are h...,17 Hours Ago,https://www.cnbc.com/2024/01/14/the-no-1-in-de...
21,Barbara Corcoran: Why feeling like a fraud at ...,17 Hours Ago,https://www.cnbc.com/2024/01/14/barbara-corcor...
22,Please stop ignoring your flight attendants,18 Hours Ago,https://www.cnbc.com/2024/01/14/alaska-japan-a...
23,Hertz makes 'agile' decision to shift strategy...,18 Hours Ago,https://www.cnbc.com/2024/01/14/hertz-makes-ag...
24,Ramit Sethi: Common money belief could cost yo...,18 Hours Ago,https://www.cnbc.com/2024/01/14/ramit-sethi-co...
25,This beach city is helping older adults achiev...,18 Hours Ago,https://www.cnbc.com/2024/01/14/how-laguna-bea...
26,Companies are betting on a promising class of ...,19 Hours Ago,https://www.cnbc.com/2024/01/14/cancer-drugs-r...
27,Goldman picks China stocks in case there's a r...,20 Hours Ago,https://www.cnbc.com/2024/01/14/goldman-sachs-...
28,Bitcoin slid after key ETFs debuted. What it m...,20 Hours Ago,https://www.cnbc.com/2024/01/14/bitcoin-tumble...
29,Here's why Buffett calls airline stocks hazard...,20 Hours Ago,https://www.cnbc.com/2024/01/14/heres-why-warr...

6) Write a python program to scrape the details of most downloaded articles from AI in last 90
days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details and make data framei) Paper Title
ii) Authors
iii) Published Date
iv) Paper URL

In [18]:
page5=requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")

In [19]:
page5

In [20]:
soup5=BeautifulSoup(page5.content)

In [211]:
title=[]
for i in soup5.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    title.append(i.text)

In [212]:
title

['Reward is enough',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Creativity and artificial intelligence',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Knowledge graphs as tools for explainable machine learning: A survey',
 'Law and logic: A review from an argumentation perspective',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'Multiple object tracking: A literature review',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Explainable AI tools for legal reasoning about cases: A study on the European Court of Human Rights',
 'Hard choices in artificial intelligence',
 'Assessing the communication gap between AI models and healthcare professionals: Explainability, utility and trust in AI-driven clinical decision-making',
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'The Hanabi challenge: A new frontier for AI research',
 'Wrappers for feature subset selection',
 'Artificial cognition for social human–robot interaction: An implementation',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'The multifaceted impact of Ada Lovelace in the digital age',
 'Robot ethics: Mapping the issues for a mechanized world',
 'Reward (Mis)design for autonomous driving',
 'Planning and acting in partially observable stochastic domains',
 'What do we want from Explainable Artificial Intelligence (XAI)? – A stakeholder perspective on XAI and a conceptual model guiding interdisciplinary XAI research']

In [22]:
auther=[]
for i in soup5.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    auther.append(i.text)

In [23]:
auther

['David Silver, Satinder Singh, Doina Precup, Richard S. Sutton ',
 'Tim Miller ',
 'Margaret A. Boden ',
 'Guni Sharon, Roni Stern, Ariel Felner, Nathan R. Sturtevant ',
 'Ilaria Tiddi, Stefan Schlobach ',
 'Henry Prakken, Giovanni Sartor ',
 'Richard S. Sutton, Doina Precup, Satinder Singh ',
 'Kjersti Aas, Martin Jullum, Anders Løland ',
 'Wenhan Luo, Junliang Xing and 4 more',
 'Saurabh Arora, Prashant Doshi ',
 'Jasper van der Waa, Elisabeth Nieuwburg, Anita Cremers, Mark Neerincx ',
 'Joe Collenette, Katie Atkinson, Trevor Bench-Capon ',
 'Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz ',
 'Oskar Wysocki, Jessica Katharine Davies and 5 more',
 'Eoin M. Kenny, Courtney Ford, Molly Quinn, Mark T. Keane ',
 'Nolan Bard, Jakob N. Foerster and 13 more',
 'Ron Kohavi, George H. John ',
 'Séverin Lemaignan, Mathieu Warnier and 3 more',
 'Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz ',
 'Luigia Carlucci Aiello ',
 'Patrick Lin, Keith Abney, George Bekey ',
 'W. Bradley Knox, Alessandro Allievi and 3 more',
 'Leslie Pack Kaelbling, Michael L. Littman, Anthony R. Cassandra ',
 'Markus Langer, Daniel Oster and 6 more']

In [25]:
publish=[]
for i in soup5.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    publish.append(i.text)

In [26]:
publish

['October 2021',
 'February 2019',
 'August 1998',
 'February 2015',
 'January 2022',
 'October 2015',
 'August 1999',
 'September 2021',
 'April 2021',
 'August 2021',
 'February 2021',
 'April 2023',
 'November 2021',
 'March 2023',
 'May 2021',
 'March 2020',
 'December 1997',
 'June 2017',
 'June 2021',
 'June 2016',
 'April 2011',
 'March 2023',
 'May 1998',
 'July 2021']

In [18]:
sky=[]
for i in soup5.find_all("a",class_="sc-5smygv-0 fIXTHm"):
    sky.append(i['href'])

In [19]:
sky

['https://www.sciencedirect.com/science/article/pii/S0004370221000862',
 'https://www.sciencedirect.com/science/article/pii/S0004370218305988',
 'https://www.sciencedirect.com/science/article/pii/S0004370298000551',
 'https://www.sciencedirect.com/science/article/pii/S0004370214001386',
 'https://www.sciencedirect.com/science/article/pii/S0004370221001788',
 'https://www.sciencedirect.com/science/article/pii/S0004370215000910',
 'https://www.sciencedirect.com/science/article/pii/S0004370299000521',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000539',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301958',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000515',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301533',
 'https://www.sciencedirect.com/science/article/pii/S0004370223000073',
 'https://www.sciencedirect.com/science/article/pii/S0004370221001065',
 'https://www.sciencedirect.com/science/article/pii/S0004370222001795',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000102',
 'https://www.sciencedirect.com/science/article/pii/S0004370219300116',
 'https://www.sciencedirect.com/science/article/pii/S000437029700043X',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300790',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000096',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300224',
 'https://www.sciencedirect.com/science/article/pii/S0004370211000178',
 'https://www.sciencedirect.com/science/article/pii/S0004370222001692',
 'https://www.sciencedirect.com/science/article/pii/S000437029800023X',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000242']

In [20]:
import pandas as pd

In [28]:
df2=pd.DataFrame({"The name of Authors":auther,"Publish Date":publish,"Paper Url":sky})

In [29]:
df2

,The name of Authors,Publish Date,Paper Url
0,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
8,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

3) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data framea) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team andrating.
c) Top 10 ODI bowlers along with the records of their team andrating.

Write a python program to display all the header tags from wikipedia.org and make data frame

In [21]:
page=requests.get('https://en.wikipedia.org/wiki/Main_Page')

In [22]:
page

In [23]:
soup=BeautifulSoup(page.content)

In [8]:
AllHeaders=[]
for i in soup.find_all('span',class_="mw-headline"):
    AllHeaders.append(i.text)

In [9]:
AllHeaders

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "From today's featured list",
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [10]:
import pandas as pd

In [11]:
df=pd.DataFrame({"Titles":AllHeaders})

In [12]:
df

                          Titles
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5     From today's featured list
6       Today's featured picture
7       Other areas of Wikipedia
8    Wikipedia's sister projects
9            Wikipedia languages

Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice) from https://presidentofindia.nic.in/former-presidents.htm and make data frame.

In [24]:
page1=requests.get("https://presidentofindia.nic.in/former-presidents")

In [25]:
page1

In [26]:
soup1=BeautifulSoup(page1.content)

In [17]:
list=[]
for i in soup1.find_all('div',class_="desc-sec"):
    list.append(i.text.replace("\n"," "))

In [18]:
list

[' Shri Ram Nath Kovind 14th President of India ',
 ' Shri Pranab Mukherjee 13th President of India ',
 ' Smt Pratibha Devisingh Patil 12th President of India ',
 ' DR. A.P.J. Abdul Kalam 11th President of India ',
 ' Shri K. R. Narayanan 10th President of India ',
 ' Dr Shankar Dayal Sharma 9th  President of India ',
 ' Shri R Venkataraman 8th President of India ',
 ' Giani Zail Singh 7th President of India ',
 ' Shri Neelam Sanjiva Reddy 6th President of India ',
 ' Dr. Fakhruddin Ali Ahmed 5th President of India ',
 ' Shri Varahagiri Venkata Giri 4th President of India ',
 ' Dr. Zakir Husain 3rd President of India ',
 ' Dr. Sarvepalli Radhakrishnan 2nd President of India ',
 ' Dr. Rajendra Prasad 1st President of India ']

In [19]:
term_of_office=["25-7-2017 to 25-7-2022","25-7-2012 to 25-7-2017","25-07-2007 to 25-07-2012","25-7-2002 to 25-7-2007","25-7-1997 to 25-7-2002",
               "25-07-1997 to 25-07-1992","25-7-1987 to 25-7-1992","25-7-1982 to 25-7-1987","25-7-1982 to 25-7-1977","24-8-1974 to 11-2-1977",
                "24-08-1969 to 24-8-1974","13-5-1967 to 3-5-1969","13-5-1962 to 13-5-1967","26-1-1950 to 13-5-1962"]

In [20]:
term_of_office

['25-7-2017 to 25-7-2022',
 '25-7-2012 to 25-7-2017',
 '25-07-2007 to 25-07-2012',
 '25-7-2002 to 25-7-2007',
 '25-7-1997 to 25-7-2002',
 '25-07-1997 to 25-07-1992',
 '25-7-1987 to 25-7-1992',
 '25-7-1982 to 25-7-1987',
 '25-7-1982 to 25-7-1977',
 '24-8-1974 to 11-2-1977',
 '24-08-1969 to 24-8-1974',
 '13-5-1967 to 3-5-1969',
 '13-5-1962 to 13-5-1967',
 '26-1-1950 to 13-5-1962']

In [21]:
import pandas as pd

In [24]:
df=pd.DataFrame({"Name_of_the_president":list,"Term of Office":term_of_office})

In [25]:
df

,Name_of_the_president,Term of Office
0,Shri Ram Nath Kovind 14th President of India,25-7-2017 to 25-7-2022
1,Shri Pranab Mukherjee 13th President of India,25-7-2012 to 25-7-2017
2,Smt Pratibha Devisingh Patil 12th President o...,25-07-2007 to 25-07-2012
3,DR. A.P.J. Abdul Kalam 11th President of India,25-7-2002 to 25-7-2007
4,Shri K. R. Narayanan 10th President of India,25-7-1997 to 25-7-2002
5,Dr Shankar Dayal Sharma 9th President of India,25-07-1997 to 25-07-1992
6,Shri R Venkataraman 8th President of India,25-7-1987 to 25-7-1992
7,Giani Zail Singh 7th President of India,25-7-1982 to 25-7-1987
8,Shri Neelam Sanjiva Reddy 6th President of In...,25-7-1982 to 25-7-1977
9,Dr. Fakhruddin Ali Ahmed 5th President of India,24-8-1974 to 11-2-1977
10,Shri Varahagiri Venkata Giri 4th President of...,24-08-1969 to 24-8-1974
11,Dr. Zakir Husain 3rd President of India,13-5-1967 to 3-5-1969
12,Dr. Sarvepalli Radhakrishnan 2nd President of...,13-5-1962 to 13-5-1967
13,Dr. Rajendra Prasad 1st President of India,26-1-1950 to 13-5-1962