In [1]:
import re

Question 1-Write a Python program to replace all occurrences of a space, comma, or dot with a colon. Sample Text-'Python Exercises, PHP exercises.' 
Expected Output:Python:Exercises::PHP:exercises:

In [276]:
Text="Python Exercises,  PHP exercise."
pattern='\s|\,|\.'
output=re.sub(pattern,":",Text)

In [277]:
print(output)

Python:Exercises:::PHP:exercise:

Question 2-Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words. Dictionary-{'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']} 
Expected output- 0 hello world 1 test 2 four five six

In [278]:
import pandas as pd

In [279]:
Dictionary={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df=pd.DataFrame(Dictionary)

In [281]:
df1=df['SUMMARY'].str.replace('[^a-z\s]','',regex=True)

In [282]:
print(df1)

0      hello world
1             test
2    four five six
Name: SUMMARY, dtype: object

Question 3- Create a function inpython to find all words that are at least 4 characters long in a string.¶
The use of the re.compile() method is mandatory.

In [285]:
Text="APJk Abdul Kalam was an indian aerospace scientist also known as the Missile Man of India"
compile_pattern=r"\b\w{4,}"
text_pattern=re.compile(compile_pattern)
result1=text_pattern.findall(Text)

In [287]:
print(result1)

['APJk', 'Abdul', 'Kalam', 'indian', 'aerospace', 'scientist', 'also', 'known', 'Missile', 'India']

In [288]:
def func(textz):
    pattern=r"\b\w{4,}"
    text_pattern=re.compile(pattern)
    result2=text_pattern.findall(textz)
    if result2:
        print(result2)
    else:
        print("no result")

In [289]:
func("APJk Abdul Kalam was an indian aerospace scientist also known as the Missile Man of India")

['APJk', 'Abdul', 'Kalam', 'indian', 'aerospace', 'scientist', 'also', 'known', 'Missile', 'India']

Question 4-Create a function in python to find all three, four, and five character words in a string.¶
The use of the re.compile() method is mandatory.

In [296]:
pattern=r'\b\w{3,5}\b'
compile_pattern=re.compile(pattern)
Text="APJk Abdul Kalam was an indian aerospace scientist also known as the Missile Man of India"
match=compile_pattern.findall(Text)

In [297]:
print(match)

['APJk', 'Abdul', 'Kalam', 'was', 'also', 'known', 'the', 'Man', 'India']

In [299]:
def funct(test):
    patternt=re.compile(r'\b\w{3,5}\b')
    result3=patternt.findall(test)
    if result3:
        print(result3)
    else:
        print("not matched")

In [300]:
funct("APJk Abdul Kalam was an indian aerospace scientist also known as the Missile Man of India")

['APJk', 'Abdul', 'Kalam', 'was', 'also', 'known', 'the', 'Man', 'India']

Question 5- Create a function in Python to remove the parenthesis in a list of strings.¶
The use of the re.compile() method is mandatory.

In [301]:
text=["My name is Kulesh kumar (roy)"]
for k in text:
    pattern=r'[()]'
    pat_cop=re.compile(pattern)
    result=pat_cop.sub("",k)

In [302]:
print(result)

My name is Kulesh kumar roy

In [330]:
def functi(list=[]):
    for k in []:
        patterns=re.compile(r'[()]')
        result5=patterns.sub("",list)
        if result5:
            print(result5)
        else:
            print("not found")

In [334]:
functi(["My name is Kulesh kumar (roy)"])

Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.¶
Sample Text:["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [340]:
text={"Name":["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]}
df=pd.DataFrame(text)
df1=df["Name"].str.replace(r"[()]","",regex=True)

In [341]:
print(df1)

0                example .com
1            hr@fliprobo .com
2                 github .com
3    Hello Data Science World
4              Data Scientist
Name: Name, dtype: object

Question 7-Write a regular expression in Python to split a string into uppercase letters.¶
Sample text: “ImportanceOfRegularExpressionsInPython” Expected Output:[‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [342]:
text="ImportancOfRegularExpressionInPython"
result=re.findall("[A-Z][a-z]*",text)

In [343]:
print(result)

['Importanc', 'Of', 'Regular', 'Expression', 'In', 'Python']

Question 8- Create a function in python to insert spaces between words starting with numbers.¶
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython" Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [365]:
Text="RegularExpression1IsAn2ImportantTopic3InPython"
result=re.sub(r'([A-Za-z]+)(\d+)',r'\1 \2',Text)

In [366]:
print(result)

RegularExpression 1IsAn 2ImportantTopic 3InPython

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.¶
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython" Expected Output:RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [377]:
Text="RegularExpression1IsAn2ImportantTopic3InPython"
result=re.sub(r'([A-Za-z]+)([0-9])([A-Za-z])',r'\1 \2 \3',Text)

In [378]:
print(result)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

11Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [418]:
def match_string(text):
    pattern=r'\b[A-Za-z0-9_]+'
    result=re.findall(pattern,text)
    if result:
        print(result)
    else:
        print("not matched")

In [419]:
match_string('I am 2023_@#$ here you')

['I', 'am', '2023_', 'here', 'you']

Question 12- Write a Python program where a string will start with a specific number.

In [441]:
def str(text):
    pattern=r'\b\d+'
    result==re.search(pattern,text)
    if result:
        print(result)
    else:
        print("not matched")

Question 13- Write a Python program to remove leading zeros from an IP address.

In [453]:
def my_ip(ip):
    new_ip=re.sub(r'[0]',"",ip)
    print("my-new-ip",new_ip)

In [460]:
my_ip("0004787589757")

my-new-ip 4787589757

14Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file. Sample text : 'On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’. Expected Output-August 15th 1947 Note- Store given sample text in the text file and then extract the date string asked format.

In [493]:
text="On August 15th 1947 that India was declared independent from British colonialism"
result=re.findall(r"\b[A-Z][a-z]+",text)

In [494]:
print(result)

['On', 'August', 'India', 'British']

Question 15- Write a Python program to search some literals strings in a string. Sample text : 'The quick brown fox jumps over the lazy dog.' Searched words : 'fox', 'dog', 'horse'

In [502]:
def string(text):
    pattern=('fox|dog|horse')
    result2=re.search(pattern,text)
    if result2:
        print("it's a match",result2)
    else:
        print("not matched")

In [503]:
string("The quick brown fox jumps over the lazy dog.")

it's a match <re.Match object; span=(16, 19), match='fox'>

Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs Sample text : 'The quick brown fox jumps over the lazy dog.' Searched words : 'fox'

In [14]:
def match(text):
    pattern=(r'fox')
    result=re.search(pattern,text)
    if result:
        print(result)
    else:
        print("Not matched")

In [17]:
match('The quick brown fox jumps over the lazy dog')

<re.Match object; span=(16, 19), match='fox'>

Question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'.

In [18]:
def substring(text):
    pattern=(r'exercises')
    result=re.search(pattern,text)
    if result:
        print(result)
    else:
        print(not matched)

In [19]:
substring('Python exercises, PHP exercises, C# exercises')

<re.Match object; span=(7, 16), match='exercises'>

In [27]:
text=str(input("enter text"))
pattern=str(input("enter pattern  "))
result=re.search(pattern,text)
print(result)

enter text'Python exercises, PHP exercises, C# exercises'
enter pattern  (r'exercises')
None

# Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [28]:
import re
def change_date_format(dt):
        return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', dt)
dt1 = "2026-01-02"
print("Original date in YYY-MM-DD Format: ",dt1)
print("New date in DD-MM-YYYY Format: ",change_date_format(dt1))

Original date in YYY-MM-DD Format:  2026-01-02
New date in DD-MM-YYYY Format:  02-01-2026

In [ ]:
change_date_format("2024-02-04")

In [51]:
date=str(input("enter date "))
patterns=(r'(\d{4})-(\d{1,2})-(\d{1,2})')
result=re.sub(patterns,'\\3-\\2-\\1',date)
if result:
    print(result)
    
else:
    print("no result")

enter date 2025-09-08
08-09-2025

In [49]:
text="2024-04-06"
pattern=(r'(\d{4})-(\d{1,2})-(\d{1,2})')
result=re.sub(pattern,'\\3-\\2-\\1',text)
if result:
    print(result)
    
else:
    print("no result")

06-04-2024

In [52]:
print(result)

08-09-2025

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string.The use of the re.compile() method is mandatory.
Sample Text:"01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
Expected Output:['01.12', '145.8', '3.01', '27.25', '0.25']

In [97]:
Sample_Text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern=re.compile(r'\d+\.\d{1,2}\b')
result=pattern.findall(Sample_Text)

In [98]:
print(result)

['01.12', '145.8', '3.01', '27.25', '0.25']

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [6]:
text=str(input("enter a string"))
pattern=(r'\d+\d')
for t in text:
    result=re.search(pattern,text)
if result:
    print(result)
else:
    print("no result")

enter a stringjhkh
no result

Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text: 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

In [9]:
text="947, 896, 926, 524, 734, 950, 642"
pattern=r'\d[0-9]+'
result=max(re.findall(pattern,text))

In [11]:
print(result)

950

Question 23- Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"
Expected Output:Regular Expression Is An Important Topic In Python

In [67]:
text="RegularExpressionIsAnImportantTopicInPython"
pattern=r'([A-Z][a-z]+)'
result=re.sub(pattern,r' \1',text)

In [68]:
print(result)

 Regular Expression Is An Important Topic In Python

In [71]:
def function(text):
    pattern=r'([A-Z][a-z]+)'
    result=re.sub(pattern,r' \1',text)
if result:
                  print(result)
                  
else:
                  print("no matched")

 Regular Expression Is An Important Topic In Python

Question 24-Python regex to find sequences of one upper case letter followed by lower case letters

In [77]:
text="AbCdEf"
pattern=r'[A-Z]+[a-z]'
result=re.search(pattern,text)

In [79]:
print(result)

<re.Match object; span=(0, 2), match='Ab'>

Question 25-Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text:"Hello hello world world"
Expected Output: Hello hello world

In [119]:
Sample="Hello hello world world"
pattern=r'(\w+)(\s+\1)+'
result=re.sub(pattern,r'\1',Sample)

In [120]:
print(result)

Hello hello world

In [125]:
text=str(input("Enter text"))
pattern=r'\b(\w+)(\s+\1)+'
result1=re.sub(pattern,r'\1',text)
print(result1)

Enter text"Hello hello world world"
"Hello hello world"

Question 26- Write a python program using RegEx to accept string ending with alphanumeric character.

In [127]:
def regex(string):
    pattern=r'[A-Za-z0-9]+$'
    final_result=re.search(pattern,string)
    if final_result:
        print("accept",final_result)
    else:
        print("not accept")

In [129]:
regex("my name is khan123")

accept <re.Match object; span=(11, 18), match='khan123'>

Question 27-Write a python program using RegEx to extract the hashtags.
Sample Text: """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
Expected Output:['#Doltiwal', '#xyzabc', '#Demonetization']

In [156]:
text_str= """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization 
                  as the same has rendered USELESS <U+00A0><U+00BD><U+00B1><U+0089> "acquired funds" No wo""" 
pattern=r'#\w+'
result_str=re.findall(pattern,text_str)

In [157]:
print(result_str)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [166]:
def hash(str):
    pattern=r'#\w+'
    result_string=re.findall(pattern,str)
    if result_string:
        print("matched",result_string)
    else:
        print("not matched")

In [167]:
hash("""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization 
                  as the same has rendered USELESS <U+00A0><U+00BD><U+00B1><U+0089> "acquired funds" No wo""" )

matched ['#Doltiwal', '#xyzabc', '#Demonetization']

Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
Expected Output:@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [220]:
text_r="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern=r'<U\+[A-Za-z0-9]+>'
result=re.sub(pattern,"",text_r)

In [222]:
print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [223]:
def U(plus):
    pattern=r'<U\+[A-Za-z0-9]+>'
    result2=re.sub(pattern,"",plus)
    if result2:
        print("matched",result2)
    else:
        print("not matched")

In [225]:
U("@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders")

matched @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

Question 29- Write a python program to extract dates from the text stored in the text file.
Sample Text:Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
Note- Store this sample text in the file and then extract dates.

In [227]:
text_st="Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."
pattern=r'\d{1,2}\-\d{1,2}\-\d{4}'
result_strings=re.findall(pattern,text_st)

In [229]:
print(result_strings)

['12-09-1992', '15-12-1999']

In [234]:
def date(extract):
    pattern=r'\d{1,2}\-\d{1,2}\-\d{4}'
    result_extract=re.findall(pattern,extract)
    if result_extract:
        print("matched",result_extract)
    else:
        print("not matched")

In [236]:
date("Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.")

matched ['12-09-1992', '15-12-1999']

Question 30- Create a function inpython to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
Sample Text:"The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
Expected Output:following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [270]:
s_text="The following example creates an ArrayList with a capacity of 50 elements.4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
pattern=r'\b\w{2,4}\b'
result_text=re.sub(pattern,"",s_text)

In [272]:
print(result_text)

 following example creates  ArrayList  a capacity   elements.4 elements   added   ArrayList   ArrayList  trimmed accordingly.

In [274]:
def fun(texts):
    pattern=re.compile(r'\b\w{2,4}\b')
    result_stre=pattern.sub("",texts)
    if result_stre:
        print("matched",result_stre)
    else:
        print("not matched")

In [275]:
fun("The following example creates an ArrayList with a capacity of 50 elements.4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly.")

matched  following example creates  ArrayList  a capacity   elements.4 elements   added   ArrayList   ArrayList  trimmed accordingly.